<h1 class="page-subtitle">{{'SHARED_LIB.PERUN.ORGANIZATIONS.TITLE' | translate}}</h1>
<!--<app-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></app-refresh-button>-->
<perun-web-apps-immediate-filter [placeholder]="'SHARED_LIB.PERUN.ORGANIZATIONS.FILTER'" (filter)="applyFilter($event)"
                                 *ngIf="!loading"></perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>

<div *ngIf="!loading && vosWhereIsMember.length !== 0">
  <h1 class="page-subtitle">{{'SHARED_LIB.PERUN.ORGANIZATIONS.IS_MEMBER' | translate}}</h1>
  <perun-web-apps-vo-select-table [filterValue]="filterValue"
                                  [vos]="vosWhereIsMember"
                                  [displayedColumns]="displayedColumns"
                                  [disableRouting]="true">
  </perun-web-apps-vo-select-table>
</div>

<div *ngIf="!loading && vosWhereIsAdmin.length !== 0" class="mt-5">
  <h1 class="page-subtitle">{{'SHARED_LIB.PERUN.ORGANIZATIONS.IS_ADMIN' | translate}}</h1>
  <perun-web-apps-vo-select-table [filterValue]="filterValue"
                                  [vos]="vosWhereIsAdmin"
                                  [displayedColumns]="displayedColumns"
                                  [disableRouting]="true">
  </perun-web-apps-vo-select-table>
</div>
