<h1 class="page-title mt-2">{{'ORGANIZATIONS.TITLE' | customTranslate | translate}}</h1>
<div class="user-theme">
  <perun-web-apps-immediate-filter [placeholder]="'ORGANIZATIONS.FILTER'" (filter)="applyFilter($event)"
                                   *ngIf="!loading"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>

  <div *ngIf="!loading" class="mt-5">
    <h1 class="page-subtitle">{{'ORGANIZATIONS.IS_MEMBER' | customTranslate | translate}}</h1>
    <div *ngIf="userMemberships.length !== 0">
      <perun-web-apps-membership-list [members]="userMemberships"
                                      [selection]="selection"
                                      [filterValue]="filterValue"
                                      [hideColumns]="['checkbox','description']"
                                      (extendMembership)="extendMembership($event)"></perun-web-apps-membership-list>
    </div>
    <app-alert color="warn"
               *ngIf="userMemberships.length === 0">{{'ORGANIZATIONS.NO_VOS_ALERT' | customTranslate | translate}}</app-alert>

  </div>

  <div *ngIf="!loading" class="mt-5">
    <h1 class="page-subtitle">{{'ORGANIZATIONS.IS_ADMIN' | customTranslate | translate}}</h1>
    <app-alert *ngIf="!adminMemberships.length"
               color="warn">{{'ORGANIZATIONS.NO_VOS_ALERT' | customTranslate | translate}}</app-alert>
    <perun-web-apps-membership-list [members]="adminMemberships"
                                    *ngIf="adminMemberships.length"
                                    [filterValue]="filterValue"
                                    [hideColumns]="['checkbox', 'description', 'expirationAttribute', 'extend']"></perun-web-apps-membership-list>
  </div>
</div>
