<h1 class="page-subtitle mb-5">{{'USER_DETAIL.IDENTITIES.TITLE'|translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<button (click)="addIdentity()" color="accent" mat-flat-button>{{'USER_DETAIL.IDENTITIES.ADD'|translate}}</button>
<button (click)="removeIdentity()" [disabled]="selection.selected.length === 0" class="ml-2" color="warn" mat-flat-button>{{'USER_DETAIL.IDENTITIES.REMOVE'|translate}}</button>
<div class="admin-theme">
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
</div>

<div *ngIf="!loading">
  <perun-web-apps-user-ext-sources-list
    [hideColumns]="hiddenColumns"
    [selection]="selection"
    [userExtSources]="userExtSources"
  ></perun-web-apps-user-ext-sources-list>
</div>
