<h1 mat-dialog-title>{{'DIALOGS.DELETE_APPLICATION_FORM_ITEM.TITLE' | translate}}</h1>
<div mat-dialog-content class="dialog-container">

  <div class="pb-2 font-weight-bold">{{'DIALOGS.DELETE_APPLICATION_FORM_ITEM.INFO_1' | translate}}</div>
  <div>{{'DIALOGS.DELETE_APPLICATION_FORM_ITEM.INFO_2' | translate}}</div>
  <div class="pb-4 pt-2">{{'DIALOGS.DELETE_APPLICATION_FORM_ITEM.INFO_3' | translate}}</div>

</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.DELETE_APPLICATION_FORM_ITEM.CANCEL_BUTTON' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="warn"
    (click)="submit()">
    {{'DIALOGS.DELETE_APPLICATION_FORM_ITEM.SUBMIT_BUTTON' | translate}}
  </button>
</div>
