.identities {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.identities-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > h1, h2, h3, h4 {
    margin-bottom: 0 !important;
  }

  margin-bottom: 1rem;
}

.identities-logo {
  height: 48px;
  margin-right: 1rem;
}

.identity {
  padding: 0.75rem 1.5rem;

  border-bottom: 1px solid #dfdfdf;

  h3 {
    word-break: break-word;
  }
}

.identities-container {
  &:first-child {
    margin-right: 16px;
  }
  &:last-child {
    margin-left: 16px;
  }
}

.identities-overview {
  width: 100%;
}

