<h1 class="page-title mt-2">{{'PRIVACY.TITLE' | customTranslate | translate}}</h1>
<div class="user-theme">
  <perun-web-apps-immediate-filter [placeholder]="'SERVICES.FILTER' | customTranslate | translate"
                                   (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="outerLoading"></mat-spinner>
  <mat-accordion *ngIf="!outerLoading">
    <mat-expansion-panel (opened)="getUserData()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'PRIVACY.USER_INFO' | customTranslate | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-spinner class="ml-auto mr-auto" *ngIf="innerLoading"></mat-spinner>
        <perun-web-apps-attributes-list *ngIf="!innerLoading" [attributes]="attributes" [readonly]="true"
                                        [hiddenColumns]="hiddenColumns"></perun-web-apps-attributes-list>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let vo of filteredVos" (opened)="getMemberData(vo)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'PRIVACY.DATA' | customTranslate | translate}}{{vo.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-spinner class="ml-auto mr-auto" *ngIf="innerLoading"></mat-spinner>
        <perun-web-apps-attributes-list *ngIf="!innerLoading" [attributes]="attributes" [readonly]="true"
                                        [hiddenColumns]="hiddenColumns"></perun-web-apps-attributes-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
