<div class="{{data.theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ADD_SERVICE_DESTINATION.TITLE' | translate}}</h1>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content class="dialog-container">
    <div class="font-italic">{{'DIALOGS.ADD_SERVICE_DESTINATION.DESCRIPTION' | translate}}</div>
    <mat-form-field>
      <mat-select
        [formControl]="serviceControl"
        placeholder="{{'DIALOGS.ADD_SERVICE_DESTINATION.SERVICE' | translate}}"
        required>
        <mat-option *ngIf="services.length !== 0"
                    value="all">{{'DIALOGS.ADD_SERVICE_DESTINATION.SELECTION_ALL' | translate}}</mat-option>
        <mat-option *ngIf="services.length === 0"
                    value="noService">{{'DIALOGS.ADD_SERVICE_DESTINATION.NO_SERVICE' | translate}}</mat-option>
        <mat-option *ngFor="let service of services" [value]="service">
          {{service.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="serviceControl.value == undefined">
        {{'DIALOGS.ADD_SERVICE_DESTINATION.CHOOSE_SERVICE' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-checkbox (change)="getServices()"
                  [(ngModel)]="servicesOnFacility">{{'DIALOGS.ADD_SERVICE_DESTINATION.IS_SERVICES_ONLY_ON_FACILITY' | translate}}</mat-checkbox>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedType" placeholder="{{'DIALOGS.ADD_SERVICE_DESTINATION.TYPE' | translate}}">
        <mat-option *ngFor="let type of types" [value]="type">
          {{getTypeForView(type)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!selectedTypeIsMail() && !(selectedType === 'host' && useFacilityHost)">
      <label>
        <input
          [formControl]="destinationControl"
          matInput
          placeholder="{{getTypeForView(selectedType)}}"
          required>
      </label>
      <mat-error *ngIf="selectedType === 'host' && !useFacilityHost && destinationControl.invalid">
        {{'DIALOGS.ADD_SERVICE_DESTINATION.REQUIRED_FIELD' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="selectedTypeIsMail()">
      <label>
        <input
          [formControl]="emailControl"
          matInput
          placeholder="{{getTypeForView(selectedType)}}"
          required>
      </label>
      <mat-error *ngIf="emailControl.invalid">
        {{'DIALOGS.ADD_SERVICE_DESTINATION.TYPE_EMAIL' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-checkbox *ngIf="selectedType === 'host'" [(ngModel)]="useFacilityHost">
      {{'DIALOGS.ADD_SERVICE_DESTINATION.USE_FACILITY_HOST' | translate}}
    </mat-checkbox>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedPropagation"
                  placeholder="{{'DIALOGS.ADD_SERVICE_DESTINATION.PROPAGATION' | translate}}">
        <mat-option *ngFor="let propagation of propagations" [value]="propagation">
          {{propagation}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="font-italic">
      {{'DIALOGS.ADD_SERVICE_DESTINATION.PROPAGATION_TYPE_' + selectedPropagation | translate}}
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      (click)="onCancel()"
      class="ml-auto"
      mat-flat-button>
      {{'DIALOGS.ADD_SERVICE_DESTINATION.CANCEL' | translate}}
    </button>
    <button
      (click)="onSubmit()"
      [disabled]="loading || invalidDestination() || serviceControl.invalid || serviceControl.value === 'noService'"
      class="ml-2"
      color="accent"
      mat-flat-button>
      {{'DIALOGS.ADD_SERVICE_DESTINATION.ADD' | translate}}
    </button>
  </div>
</div>

