<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ASSIGN_GROUP_TO_RESOURCE.TITLE' | translate}}</h1>
  <app-debounce-filter
    placeholder="{{'DIALOGS.ASSIGN_GROUP_TO_RESOURCE.FILTER_DESCRIPTION' | translate}}"
    (filter)="applyFilter($event)">
  </app-debounce-filter>
  <mat-checkbox
    color="primary"
    [(ngModel)]="checkGroups">
    {{'DIALOGS.ASSIGN_GROUP_TO_RESOURCE.CONFIGURE_GROUPS' | translate}}
  </mat-checkbox>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <app-groups-list
    *ngIf="!loading"
    [groups]="filteredGroups"
    [selection]="selection"
    [hideColumns]="['vo', 'menu']"
    [inDialog]="true"
    [disableMembers]="false">
  </app-groups-list>
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.ASSIGN_GROUP_TO_RESOURCE.CANCEL_BUTTON' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      (click)="onAdd()"
      [disabled]="selection.selected.length === 0">
      {{'DIALOGS.ASSIGN_GROUP_TO_RESOURCE.ADD_BUTTON' | translate}}
    </button>
  </div>
</div>
