<h1 mat-dialog-title>{{'DIALOGS.REMOVE_ALT_PASSWORD.TITLE' | translate}}</h1>
<div mat-dialog-content *ngIf="!loading">
  <p>
    {{'DIALOGS.REMOVE_ALT_PASSWORD.DESCRIPTION' | translate}}
  </p>
  <div class="font-weight-bold">
    {{'DIALOGS.REMOVE_ALT_PASSWORD.ASK' | translate}}
  </div>
  <table mat-table [dataSource]="dataSource" class="w-100">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let value"> {{value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="font-weight-bolder"></tr>
    <tr mat-row *matRowDef="let value; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

<div mat-dialog-actions>

  <button
    mat-stroked-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.REMOVE_ALT_PASSWORD.CANCEL' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="warn"
    (click)="onSubmit()">
    {{'DIALOGS.REMOVE_ALT_PASSWORD.REMOVE' | translate}}
  </button>
</div>

