<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.GENERATE_SPONSORED_MEMBERS.TITLE' | translate}}</h1>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content class="dialog-container">
    <app-alert color="error" *ngIf="this.functionalityNotSupported">
      {{'DIALOGS.CREATE_SPONSORED_MEMBER.FUNCTIONALITY_NOT_SUPPORTED' | translate}}
    </app-alert>
    <mat-form-field>
      <mat-select placeholder="{{'DIALOGS.GENERATE_SPONSORED_MEMBERS.NAMESPACE' | translate}}" required [formControl]="namespace">
        <mat-option (onSelectionChange)="namespace.setValue(namespc)" *ngFor="let namespc of namespaceOptions" [value]="namespc">
          {{namespc}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="namespace.invalid">
        {{'DIALOGS.GENERATE_SPONSORED_MEMBERS.NAMESPACE_ERROR' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        placeholder="{{'DIALOGS.GENERATE_SPONSORED_MEMBERS.NAMES' | translate}}"
        class="md-textarea form-control"
        id="voGenerateSponsoredMembers"
        name="voGenerateSponsoredMembers"
        rows="8"
        cols="50"
        matInput
        [formControl]="sponsoredMembers">
      </textarea>
      <mat-error *ngIf="sponsoredMembers.invalid">
        {{'DIALOGS.GENERATE_SPONSORED_MEMBERS.NAMES_ERROR' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="text-muted">{{'DIALOGS.GENERATE_SPONSORED_MEMBERS.HINT'| translate}}</div>

    <table
      [hidden]="true"
      #exporter="matTableExporter" [dataSource]="dataSource"
      class="w-100"
      mat-table
      matTableExporter>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>name</th>
        <td *matCellDef="let sponsoredMember" mat-cell>{{sponsoredMember.name}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>status</th>
        <td *matCellDef="let sponsoredMember" mat-cell>{{sponsoredMember.status}}</td>
      </ng-container>
      <ng-container matColumnDef="login">
        <th *matHeaderCellDef mat-header-cell>login</th>
        <td *matCellDef="let sponsoredMember" mat-cell>{{sponsoredMember.login}}</td>
      </ng-container>
      <ng-container matColumnDef="password">
        <th *matHeaderCellDef mat-header-cell>password</th>
        <td *matCellDef="let sponsoredMember" mat-cell>{{sponsoredMember.password}}</td>
      </ng-container>
      <tr *matHeaderRowDef="outputColumns" mat-header-row></tr>
      <tr
        *matRowDef="let sponsoredMember; columns: outputColumns;"
        class="dark-hover-list-item"
        mat-row
      >
      </tr>
    </table>

    <mat-paginator
      [hidden]="true"
      [length]="this.dataSource.data.length"
      (page)="pageChanged($event)"
      [pageSize]="100">
    </mat-paginator>

  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.GENERATE_SPONSORED_MEMBERS.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      [disabled]="sponsoredMembers.value.trim().length === 0 || namespace.invalid || loading"
      (click)="onGenerate()">
      {{'DIALOGS.GENERATE_SPONSORED_MEMBERS.GENERATE' | translate}}
    </button>
  </div>
</div>
