<h1 mat-dialog-title class="ml-auto mr-auto">{{'DIALOGS.SHOW_PASSWORD.TITLE' | customTranslate | translate}}</h1>
<div class="user-theme" mat-dialog-content>
  <p>{{'DIALOGS.SHOW_PASSWORD.LABEL' | customTranslate | translate}}</p>
  <label>
    <input disabled class="center-text" [value]="password">
  </label>
</div>


<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onClose()">
    {{'DIALOGS.SHOW_PASSWORD.CLOSE' | customTranslate | translate}}
  </button>
  <button
    class="ml-2"
    mat-flat-button
    color="accent"
    [cdkCopyToClipboard]="password">
    {{'DIALOGS.SHOW_PASSWORD.COPY' | customTranslate | translate}}
  </button>
</div>
