<div fxLayout="column" fxLayoutAlign="center center" class="user-theme">
  <h3>{{'DIALOGS.SHOW_PASSWORD.TITLE' | customTranslate | translate}}</h3>
  <p>{{'DIALOGS.SHOW_PASSWORD.LABEL' | customTranslate | translate}}</p>
  <label>
    <input disabled style="text-align: center" [value]="password">
  </label>
</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    color="accent"
    [cdkCopyToClipboard]="password">
    {{'DIALOGS.SHOW_PASSWORD.COPY' | customTranslate | translate}}
  </button>
  <button
    mat-stroked-button
    class="ml-2"
    (click)="onClose()">
    {{'DIALOGS.SHOW_PASSWORD.CLOSE' | customTranslate | translate}}
  </button>
</div>
