<div id="sideMenuSpacer" [ngStyle]="{'background': backgroundColor}">
<div class="accordion entity-menu-accordion" id="sideMenuAccordion">
  <app-side-menu-root-item
    [sideNav]="sideNav"
    [showOpen]="userItemOpened"
    [item]="userItem">
  </app-side-menu-root-item>
  <div
    *ngFor="let item of userItems; let i = index"
    @rollInOut
    class="overflow-hidden">
    <app-side-menu-item
      [sideNav]="sideNav"
      [item]="item"
      [index]="i">
    </app-side-menu-item>
  </div>
  <app-side-menu-root-item
    [sideNav]="sideNav"
    *ngIf="authResolver.isVoAdmin() || authResolver.isVoObserver()"
    [item]="accessItem">
  </app-side-menu-root-item>
  <div *ngIf="authResolver.isVoAdmin() || authResolver.isVoObserver()">
    <div
      *ngFor="let item of accessItems; let i = index"
      @rollInOut
      class="overflow-hidden">
      <app-side-menu-item
        [sideNav]="sideNav"
        [item]="item"
        [index]="i"
        [showOpen]="true">
      </app-side-menu-item>
    </div>
  </div>

  <app-side-menu-root-item
    [sideNav]="sideNav"
    *ngIf="authResolver.canManageFacilities()"
    [item]="facilityItem">
  </app-side-menu-root-item>
  <div *ngIf="authResolver.canManageFacilities()">
    <div
      *ngFor="let item of facilityItems; let i = index"
      @rollInOut
      class="overflow-hidden">
      <app-side-menu-item
        [sideNav]="sideNav"
        [item]="item"
        [index]="i">
      </app-side-menu-item>
    </div>

  </div>
  <app-side-menu-root-item
    [sideNav]="sideNav"
    *ngIf="authResolver.isPerunAdmin()"
    [showOpen]="adminItemOpened"
    [item]="adminItem">
  </app-side-menu-root-item>
  <div *ngIf="authResolver.isPerunAdmin()">
    <div
      *ngFor="let item of adminItems; let i = index"
      @rollInOut
      class="overflow-hidden">
      <app-side-menu-item
        [sideNav]="sideNav"
        [item]="item"
        [index]="i">
      </app-side-menu-item>
    </div>
  </div>
</div>
</div>
