<div class="card mt-3" [class.hide-table]="exporting" [hidden]="dataSource.filteredData.length === 0 || bansOnFacilitiesWithUsers.length === 0">
  <div class="card-body table-theme">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true"
                                  [exporter]="exporter"></perun-web-apps-table-options>
    <table
      mat-table matTableExporter
      [dataSource]="dataSource"
      #exporter="matTableExporter"
      matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear
      class="w-100">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let banOnFacilityWithUser" class="static-column-size">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(banOnFacilityWithUser) : null"
                        [checked]="selection.isSelected(banOnFacilityWithUser)"
                        [aria-label]="checkboxLabel(banOnFacilityWithUser)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.BLACKLIST_LIST.USER_ID' | translate}}</th>
        <td mat-cell class="static-column-size"
            *matCellDef="let banOnFacilityWithUser">{{banOnFacilityWithUser[1].id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.BLACKLIST_LIST.NAME' | translate}}</th>
        <td mat-cell *matCellDef="let banOnFacilityWithUser">{{banOnFacilityWithUser[1] | userFullName}}</td>
      </ng-container>
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.BLACKLIST_LIST.REASON' | translate}}</th>
        <td mat-cell *matCellDef="let banOnFacilityWithUser">{{banOnFacilityWithUser[0].description}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let banOnFacilityWithUser; columns: displayedColumns;"
      >
      </tr>
    </table>
    <mat-paginator
      [length]="this.bansOnFacilitiesWithUsers.length"
      [pageSize]="pageSize"
      (page)="page.emit($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="dataSource.filteredData.length === 0 && bansOnFacilitiesWithUsers.length !== 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert *ngIf="bansOnFacilitiesWithUsers.length === 0" color="warn">
  {{'SHARED.COMPONENTS.BLACKLIST_LIST.NO_BANS_WARNING' | translate}}
</app-alert>
