<div class="entity-menu-item">
  <div class="entity-menu-item-header"
       matRipple
       [matRippleColor]="'rgba(255, 255, 255, 0.1)'"
       [ngStyle]="{'background': item.backgroundColorCss}"
       (click)="toggle()">
    <div class="entity-menu-item-link {{item.labelClass}}" matRipple>
      <a class="entity-menu-item-label" [ngStyle]="{'color': item.textColorCss}">
        <div>
          <mat-icon [ngStyle]="{'color': 'currentColor'}" [svgIcon]="item.icon" class="perun-icon"></mat-icon>
        </div>
        <div class="ml-3">{{item.label | translate}}</div>
      </a>
    </div>
  </div>

  <div [@openClose]="expanded ? 'open' : 'closed'">
    <div class="side-entity-menu {{item.linksClass}}" [ngStyle]="{'background': linkBgColor}">
      <div *ngFor="let link of item.links">
        <a (click)="navigate(link.url)"
           matRipple
           [matRippleColor]="'rgba(255, 255, 255, 0.1)'"
           [ngStyle]="{'color': linkTextColor, 'border-color': linkTextColor}"
           [class.activated]="isActive(currentUrl, link.activatedRegex) && item.activatedClass === undefined"
           [ngClass]="isActive(currentUrl, link.activatedRegex) && item.activatedClass !== undefined ? item.activatedClass : ''">
          {{link.label | translate}}
        </a>
        <div class="entity-menu-item-sub-menu" @rollInOut *ngIf="isActive(currentUrl, link.showChildrenRegex)">
          <a class="entity-menu-item-sub-menu-item" *ngFor="let child of link?.children"
             matRipple
             [matRippleColor]="'rgba(255, 255, 255, 0.1)'"
             [ngStyle]="{'color': linkTextColor, 'border-color': linkTextColor}"
             (click)="navigate(child.url)"
             [class.activated]="isActive(currentUrl, child.activatedRegex) && item.activatedClass === undefined"
             [ngClass]="isActive(currentUrl, child.activatedRegex) && item.activatedClass !== undefined ? item.activatedClass : ''">
            {{child.label | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
