<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.SERVICES_STATUS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading && propagationAuth"
    mat-flat-button
    color="accent"
    class="mr-2"
    [disabled]="selected.selected.length === 0"
    (click)="forcePropagation()">
    {{'FACILITY_DETAIL.SERVICES_STATUS.FORCE_PROPAGATION' | translate}}
  </button>
  <button
    *ngIf="!loading && allowAuth"
    mat-flat-button
    color="accent"
    class="mr-2"
    [disabled]="selected.selected.length === 0 || this.disableAllowButton" (click)="allow()">
    {{'FACILITY_DETAIL.SERVICES_STATUS.ALLOW' | translate}}
  </button>
  <button
    *ngIf="!loading && blockAuth"
    mat-flat-button
    color="warn"
    class="mr-2"
    [disabled]="selected.selected.length === 0 || this.disableBlockButton" (click)="block()">
    {{'FACILITY_DETAIL.SERVICES_STATUS.BLOCK' | translate}}
  </button>
  <button
    *ngIf="!loading && deleteAuth"
    mat-flat-button
    color="warn"
    class="mr-2"
    [disabled]="selected.selected.length === 0 || this.disableDeleteTaskButton" (click)="delete()">
    {{'FACILITY_DETAIL.SERVICES_STATUS.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
      [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.SERVICES_STATUS_LIST.TABLE_SEARCH'"
      (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <perun-web-apps-services-status-list
      [pageSize]="pageSize"
      (page)="pageChanged($event)"
      (selectionChange)="selectionChanged()"
      *ngIf="!loading"
      [filterValue]="filterValue"
      [servicesStatus]="servicesStates"
      [selection]="selected"
      [disableRouting]="!routeAuth">
  </perun-web-apps-services-status-list>
</div>
