<div class="card mt-2" [class.hide-table]="exporting" [hidden]="dataSource.filteredData.length === 0 || groups.length === 0">
  <div class="card-body">
    <perun-web-apps-table-options (end)="exporting = false" (start)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear class="w-100">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="static-column-size">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEMBER_DETAIL.GROUPS.TABLE_GROUP_ID' | translate}}</th>
        <td mat-cell class="static-column-size" *matCellDef="let group">{{group.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEMBER_DETAIL.GROUPS.TABLE_GROUP_NAME' | translate}}</th>
        <td mat-cell *matCellDef="let group">{{group.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let group; columns: displayedColumns;"
        [routerLink]="['/organizations', group.voId, 'groups', group.id]"
        class="dark-hover-list-item">
      </tr>
    </table>
    <mat-paginator [length]="this.groups.length" [pageSize]="10" [pageSizeOptions]="[5,10,25]"></mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="groups.length === 0" color="warn">
  {{'VO_DETAIL.GROUPS.NO_GROUPS' | translate}}
</app-alert>

<app-alert *ngIf="dataSource.filteredData.length === 0 && groups.length !== 0" color="warn">
  {{'SHARED.COMPONENTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>
