<h1 class="page-subtitle">{{'USER_DETAIL.ORGANIZATIONS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
<perun-web-apps-immediate-filter (filter)="applyFilter($event)" *ngIf="!loading"
                                 [placeholder]="'USER_DETAIL.ORGANIZATIONS.FILTER'"></perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>

<div *ngIf="!loading && vosWhereIsMember.length !== 0">
  <h1 class="page-subtitle">{{'USER_DETAIL.ORGANIZATIONS.IS_MEMBER' | translate}}</h1>
  <perun-web-apps-vo-select-table [displayedColumns]="displayedColumns"
                                  [filterValue]="filterValue"
                                  [vos]="vosWhereIsMember">
  </perun-web-apps-vo-select-table>
</div>

<div *ngIf="!loading && vosWhereIsAdmin.length !== 0" class="mt-5">
  <h1 class="page-subtitle">{{'USER_DETAIL.ORGANIZATIONS.IS_ADMIN' | translate}}</h1>
  <perun-web-apps-vo-select-table [displayedColumns]="displayedColumns"
                                  [filterValue]="filterValue"
                                  [vos]="vosWhereIsAdmin">
  </perun-web-apps-vo-select-table>
</div>
