<!-- Footer -->
<footer class="page-footer font-small pt-3 mt-5">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-3">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold text-white">
          {{'SHARED.FOOTER.ABOUT_PERUN' | translate}}
        </h6>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" href="https://perun-aai.org/">{{'SHARED.FOOTER.PERUN_WEB' | translate}}</a>
          </li>
          <li>
            <a target="_blank" href="https://perun-aai.org/team">{{'SHARED.FOOTER.PERUN_TEAM' | translate}}</a>
          </li>
          <li>
            <!--TODO-->
            <a target="_blank" href="#!">{{'SHARED.FOOTER.PRIVACY_POLICY' | translate}}</a>
          </li>
        </ul>

      </div>

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold text-white">{{'SHARED.FOOTER.HELP' | translate}}</h6>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" href="https://perun-aai.org/documentation/users-documentation">{{'SHARED.FOOTER.USER_DOCUMENTATION' | translate}}</a>
          </li>
          <li>
            <a target="_blank" href="https://perun-aai.org/documentation/admin-documentation">{{'SHARED.FOOTER.ADMINISTRATOR_DOCUMENTATION' | translate}}</a>
          </li>
          <li>
            <!--TODO open popup window with reporting an issue-->
            <a target="_blank" href="#!">{{'SHARED.FOOTER.REPORT_ISSUE' | translate}}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold text-white">{{'SHARED.FOOTER.SUPPORT' | translate}}</h6>
        <ul class="list-unstyled">
          <li>
            <i class="material-icons align-bottom">
              mail
            </i>
            <!--TODO-->
            perun@cesnet.cz
          </li>
        </ul>

      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <hr class="my-0">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-2" id="copyright">© 2019 Copyright:
    <!--TODO-->
    <a target="_blank" href="https://www.cesnet.cz/"> CESNET</a>,
    <a target="_blank" href="https://www.cerit-sc.cz/"> CERIT-SC</a>
    , Version 0.0.0
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
