footer {
  background: #263238;
  height: 100%;
}

.footer-col {
  padding-top: 35px;
  white-space: nowrap;
}

#copyright {
  color: #9E9E9E;
}

a {
  color:inherit;
  text-decoration: none;
}

li {
  color: #E0E0E0;
}

#clickable {
  cursor: pointer;
}
