<h1 mat-dialog-title>{{'DIALOGS.UPDATE_APPLICATION_FORM.TITLE' | translate}}</h1>
<div mat-dialog-content class="dialog-container">

  <div>{{'DIALOGS.UPDATE_APPLICATION_FORM.MODULE_NAME' | translate}}</div>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="moduleName">
  </mat-form-field>

  <div>
    {{'DIALOGS.UPDATE_APPLICATION_FORM.INITIAL' | translate}}:
  </div>
  <mat-form-field class="w-100">
    <mat-select [(value)]="initialState" disableOptionCentering>
      <mat-option value=auto>{{'DIALOGS.UPDATE_APPLICATION_FORM.AUTOMATIC' | translate}}</mat-option>
      <mat-option value=manual>{{'DIALOGS.UPDATE_APPLICATION_FORM.MANUAL' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>


  <div>
    {{'DIALOGS.UPDATE_APPLICATION_FORM.EXTENSION' | translate}}:
  </div>
  <mat-form-field class="w-100">
    <mat-select [(value)]="extensionState" disableOptionCentering>
      <mat-option value=auto>{{'DIALOGS.UPDATE_APPLICATION_FORM.AUTOMATIC' | translate}}</mat-option>
      <mat-option value=manual>{{'DIALOGS.UPDATE_APPLICATION_FORM.MANUAL' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.UPDATE_APPLICATION_FORM.CANCEL_BUTTON' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="accent"
    (click)="submit()">
    {{'DIALOGS.UPDATE_APPLICATION_FORM.SUBMIT_BUTTON' | translate}}
  </button>
</div>
