<div class="notification {{hideShadow ? '' : 'mat-elevation-z7'}}"
     [class.error]="data.type === 'error'"
     [class.success]="data.type === 'success'">
  <div class="notification-container">
    <div *ngIf="data.icon !== null" class="notification-icon">
      <mat-icon>{{data.icon}}</mat-icon>
    </div>
    <div class="notification-text">
      {{data.title}}
    </div>
    <div class="notification-action" (click)="doAction()" [hidden]="alreadyPressed">
      {{data.actionText}}
    </div>
  </div>
<!--  <button mat-icon-button>-->
<!--    <mat-icon class="notification-icon">close</mat-icon>-->
<!--  </button>-->
</div>
