<div *ngIf="isProduction" class="beta-warning">
  <mat-icon>alert</mat-icon> This is a beta of new Perun admin GUI! It is not complete, it might contain bugs! Use it only for testing!
</div>
<app-perun-nav-menu
  id="nav-menu"
  [ngStyle]="{'top': getNavMenuTop(), 'background': navBackgroundColor}"
  class="mat-elevation-z3"
  [sideNav]="sidenav"
  [principal]="principal">
</app-perun-nav-menu>
<app-notificator></app-notificator>
<mat-sidenav-container
  id="content"
  [ngStyle]="{'margin-top': getSideNavMarginTop(),'min-height': getSideNavMinHeight()}"
>
  <mat-sidenav #sidenav
               [ngStyle]="{'border-color': sideBarBorderColor}"
               [mode]="sidebarMode"
               [opened]="!isMobile()"
               [fixedInViewport]="true"
               [fixedTopGap]="getTopGap()">

    <app-side-menu [sideNav]="sidenav"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content id="content-inner"
    [ngStyle]="{
       'min-height' : getContentInnerMinHeight(),
       'background-color': contentBackgroundColor
    }">
    <div id="content-wrap">
      <router-outlet></router-outlet>
    </div>
    <div id="footer">
      <app-perun-footer></app-perun-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
