<div *ngIf="!loading">
  <app-perun-nav-menu
    id="nav-menu"
    class="mat-elevation-z3"
    [sideNav]="sidenav"
    [principal]="principal">
  </app-perun-nav-menu>
  <app-notificator></app-notificator>
  <mat-sidenav-container id="content">
    <mat-sidenav #sidenav
                 [mode]="sidebarMode"
                 [opened]="true"
                 [fixedInViewport]="true"
                 [fixedTopGap]="64">

      <app-side-menu [sideNav]="sidenav"></app-side-menu>
    </mat-sidenav>

    <mat-sidenav-content id="content-inner">
      <div class="pt-3 pb-4" id="footer-bottom">
        <router-outlet></router-outlet>
      </div>
      <app-perun-footer></app-perun-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
