#content {
  //position: absolute;
  //width: 100%;
  //top: 4rem;
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

#content-inner {
  height: calc(100vh - 64px);
}

#footer-bottom {
  min-height: calc(100vh);
}
