<div *ngIf="isProduction" class="beta-warning">
  <mat-icon>alert</mat-icon>
  BETA version of new Perun GUI. It doesn’t contain all functionality. Please report any issues to support mail below.
</div>
<app-perun-nav-menu
  id="nav-menu"
  [ngStyle]="{'top': getNavMenuTop(), 'background': navBackgroundColor}"
  class="mat-elevation-z3"
  [sideNav]="sidenav"
  [principal]="principal">
</app-perun-nav-menu>
<app-notificator></app-notificator>
<mat-sidenav-container
  id="content"
  [ngStyle]="{'margin-top': getSideNavMarginTop(),'min-height': getSideNavMinHeight()}"
>
  <mat-sidenav #sidenav
               [ngStyle]="{'border-color': sideBarBorderColor}"
               [mode]="sidebarMode"
               [opened]="!isMobile()"
               [fixedInViewport]="true"
               [fixedTopGap]="getTopGap()">
    <perfect-scrollbar [ngStyle]="{'background': sideMenubackgroundColor}" [scrollIndicators]="true">
      <app-side-menu [sideNav]="sidenav"></app-side-menu>
    </perfect-scrollbar>
  </mat-sidenav>

  <mat-sidenav-content id="content-inner"
    [ngStyle]="{
       'min-height' : getContentInnerMinHeight(),
       'background-color': contentBackgroundColor
    }">
    <div id="content-wrap">
      <router-outlet></router-outlet>
    </div>
    <div id="footer">
      <app-perun-footer></app-perun-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
