<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ADD_MEMBERS.TITLE' | translate}}</h1>

  <div mat-dialog-content *ngIf="!processing">

      <mat-form-field class="mr-2 search-field adjust-width">
        <label>
          <input matInput autocomplete="false" placeholder="{{'DIALOGS.ADD_MEMBERS.DESCRIPTION' | translate}}"
                 (keyup.enter)="onSearchByString()"
                 [(ngModel)]="searchString">
        </label>
      </mat-form-field>

    <button
      mat-flat-button
      class="ml-auto"
      color="accent"
      [disabled]="searchString.length === 0"
      (click)="onSearchByString()">
      {{'DIALOGS.ADD_MEMBERS.SEARCH' | translate}}
    </button>

    <div class="no-bounce-scrollbar">
      <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
    </div>
    <div class="mt-3" *ngIf="!!members && !loading">
      <app-alert *ngIf="members.length === 0 && firstSearchDone" color="warn">
        {{'DIALOGS.ADD_MEMBERS.NO_USERS_FOUND' | translate}}
      </app-alert>
      <app-members-candidates-list
        [pageSize]="pageSize"
        (page)="pageChanged($event)"
        [selection]="selection"
        [members]="members"
        [type]="data.type"
        *ngIf="members.length !== 0">
      </app-members-candidates-list>
    </div>

  </div>
  <mat-spinner class="mr-auto ml-auto" *ngIf="processing"></mat-spinner>
  <div mat-dialog-actions *ngIf="!processing">
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.ADD_MEMBERS.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      (click)="onAdd()"
      [disabled]="selection.selected.length === 0">
      {{'DIALOGS.ADD_MEMBERS.CREATE' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      (click)="onInvite()"
      [disabled]="selection.selected.length === 0">
      {{'DIALOGS.ADD_MEMBERS.INVITE' | translate}}
    </button>
  </div>
</div>
