<h1 class="page-subtitle">{{'MEMBER_DETAIL.OVERVIEW.MEMBERSHIP' | translate}}</h1>
<table *ngIf="member !== null" class="table table-bordered info-table col-3">
  <tbody>
  <tr>
    <td>Status:</td>
    <td class="d-flex border-0">
      <mat-icon class="mr-1" [color]="statusIconColor">
        {{statusIcon}}
      </mat-icon>
      <b>
        {{member.status}}
      </b>
    </td>
  </tr>
  <tr>
    <td>Expiration:</td>
    <td>
      <i>
        {{expiration}}
      </i>
    </td>
  </tr>
  </tbody>
</table>

<perun-web-apps-menu-buttons-field [items]="navItems" [size]="'small'"></perun-web-apps-menu-buttons-field>
