<h1 class="page-subtitle">{{'MEMBER_DETAIL.OVERVIEW.MEMBERSHIP' | translate}}</h1>
<table *ngIf="member !== null" class="table table-bordered info-table col-3">
  <tbody>
  <tr>
    <td>{{'MEMBER_DETAIL.OVERVIEW.STATUS' | translate}}</td>
    <td class="d-flex border-0">
      <mat-icon class="mr-1" [color]="statusIconColor">
        {{statusIcon}}
      </mat-icon>
      <b>
        {{member.status | transformMemberStatus}}
      </b>
    </td>
  </tr>
  <tr>
    <td class="vert-center">{{'MEMBER_DETAIL.OVERVIEW.EXPIRATION' | translate}}</td>
    <td>
      <i>
        {{expiration}}
      </i>
      <button (click)="changeExpiration()" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<perun-web-apps-menu-buttons-field [items]="navItems" [size]="'small'"></perun-web-apps-menu-buttons-field>
