<div>
  <mat-chip-list #chipList
                 class="mat-chip-list-stacked"
                 cdkDropList
                 cdkDropListOrientation="vertical"
                 (cdkDropListDropped)="drop($event); _sendEventToParent()">
    <mat-chip class="chip-word-break"
              *ngFor="let chip of attribute.value"
              [selectable]="selectable"
              cdkDrag
              [cdkDragData]="chip"
              [removable]="removable" (removed)="remove(chip); _sendEventToParent()">
      {{chip}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <label>
      <input placeholder="New value"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (change)="_sendEventToParent()">
    </label>
  </mat-chip-list>
</div>
