<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.RESOURCES.LIST.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button color="warn" [disabled]="selected.selected.length === 0" (click)="deleteSelectedResources()">
    {{'VO_DETAIL.RESOURCES.LIST.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"></perun-web-apps-immediate-filter>

  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <perun-web-apps-resources-list
    *ngIf="!loading"
    [filterValue]="filterValue"
    [resources]="resources"
    [selection]="selected">
  </perun-web-apps-resources-list>
</div>

