<div class="card mt-3" [class.hide-table]="exporting" [hidden]="dataSource.filteredData.length === 0">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table #exporter="matTableExporter" [dataSource]="dataSource" class="w-100" mat-table matSort matSortDirection="asc" matSortDisableClear
             matTableExporter>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_MANAGEMENT.TABLE.ID' | translate}}</th>
          <td *matCellDef="let facility" class="static-column-size" mat-cell>{{facility.id}}</td>
        </ng-container>
        <ng-container matColumnDef="recent">
          <th *matHeaderCellDef mat-header-cell>
          </th>
          <td *matCellDef="let facility" mat-cell>
            <mat-icon
              *ngIf="recentIds.indexOf(facility.id) > -1"
              class="align-bottom"
              matTooltip="{{'VO_MANAGEMENT.TABLE.RECENT' | translate}}">
              visibility
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_MANAGEMENT.TABLE.NAME' | translate}}</th>
          <td *matCellDef="let facility" mat-cell>{{facility.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>{{'FACILITY_MANAGEMENT.TABLE.DESCRIPTION' | translate}}</th>
          <td *matCellDef="let facility" mat-cell>{{facility.description}}</td>
        </ng-container>
        <ng-container matColumnDef="technicalOwners">
          <th *matHeaderCellDef mat-header-cell>{{'FACILITY_MANAGEMENT.TABLE.TECHNICAL_OWNERS' | translate}}</th>
          <td *matCellDef="let facility" mat-cell>{{facility.facilityOwners | technicalOwners}}</td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let facility; columns: displayedColumns;"
          [routerLink]="['/facilities', facility.id]"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.facilities.length"
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="dataSource.filteredData.length === 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>
