<h1 mat-dialog-title>{{'DIALOGS.REJECT_APPLICATION.TITLE' | translate}}</h1>

<div mat-dialog-content>
  {{'DIALOGS.REJECT_APPLICATION.TEXT' | translate}}
  <mat-form-field class="w-100">
    <textarea matInput [(ngModel)]="reason"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.REJECT_APPLICATION.CANCEL' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="warn"
    (click)="onSubmit()">
    {{'DIALOGS.REJECT_APPLICATION.SUBMIT' | translate}}
  </button>
</div>
