<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.TITLE' | translate}}</h1>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content class="dialog-container">
    <div>
      {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.LABEL' | translate}}:
    </div>

    <mat-form-field>
      <textarea matInput [cdkTextareaAutosize]="true" [(ngModel)]="mailFooter"></textarea>
    </mat-form-field>

    <div class="mt-2 font-italic text-muted">{{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.DESCRIPTION' | translate}}</div>
  </div>

  <div mat-dialog-actions>
    <button
      (click)="cancel()"
      class="ml-auto"
      mat-flat-button>
      {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.CANCEL_BUTTON' | translate}}
    </button>
    <div
      [matTooltipDisabled]="editAuth"
      [matTooltipPosition]="'above'"
      matTooltip="{{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.HINT' | translate}}">
      <button
        (click)="submit()"
        [disabled]="loading || !editAuth"
        class="ml-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.NOTIFICATIONS_EDIT_FOOTER.SUBMIT_BUTTON' | translate}}
      </button>
    </div>
  </div>
</div>
