<h1 class="page-title">{{'OPT_OUT_MAILING_LISTS.TITLE' | customTranslate | translate}}</h1>
<perun-web-apps-immediate-filter [placeholder]="'OPT_OUT_MAILING_LISTS.FILTER' | customTranslate | translate"
                                 (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
<mat-accordion>
  <mat-expansion-panel *ngFor="let vo of filteredVos" (opened)="getMailingLists(vo)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{vo.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
      <app-alert *ngIf="resources.length === 0 && !loading"
                 color="warn">{{'OPT_OUT_MAILING_LISTS.NO_MAILING_LISTS_ALERT' | customTranslate | translate}}</app-alert>
      <mat-accordion *ngIf="resources.length && !loading">
        <mat-expansion-panel *ngFor="let resource of resources" (opened)="getOptOutAttribute(resource)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{resource.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <p>{{'OPT_OUT_MAILING_LISTS.OPT_OUT_LABEL' | customTranslate | translate}}</p>
            <mat-checkbox class="ml-3" [checked]="optOutAttribute && optOutAttribute.value !== null"
                          (change)="setOptOut()"></mat-checkbox>
          </div>


        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
