<mat-nav-list>
  <mat-list-item (click)="item.external ? goToURL(item.link):shouldHideMenu()" *ngFor="let item of items"
                 [class.activated]="isActive(item.activatedRegex)" [ngStyle]="{'color': textColor}" disableRipple
                 routerLink="{{item.external ? null: item.link}}">
    <mat-icon [ngStyle]="{'color': iconColor}">{{item.icon}}</mat-icon>
    <span class="nav-caption">{{item.external ? (lang | localizationLabel: item) : item.label | customTranslate: lang | translate}}</span>
  </mat-list-item>
</mat-nav-list>


