<div>
  <h1 class="page-subtitle">{{'ADMIN.SERVICES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    (click)="createService()"
    color="accent"
    mat-flat-button>
    {{'ADMIN.SERVICES.CREATE' | translate}}</button>
  <button
    (click)="deleteService()"
    [disabled]="selection.selected.length === 0"
    class="ml-2"
    color="warn"
    mat-flat-button>
    {{'ADMIN.SERVICES.DELETE' | translate}}</button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    class="ml-2"
    [placeholder]="'ADMIN.SERVICES.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <app-services-list
    *ngIf="!loading"
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
    [selection]="selection"
    [services]="services"
    [filterValue]="filterValue"
  >
  </app-services-list>
</div>
