<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.DELETE_ATTRIBUTES.TITLE' | translate}}</h1>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <div>
      {{'DIALOGS.DELETE_ATTRIBUTES.DESCRIPTION' | translate}}
    </div>

    <div class="font-weight-bold">
      {{'DIALOGS.DELETE_ATTRIBUTES.ASK' | translate}}
    </div>

    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let attribute"> {{attribute.displayName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="font-weight-bolder"></tr>
      <tr mat-row *matRowDef="let group; columns: displayedColumns;"></tr>
    </table>

  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.DELETE_ATTRIBUTES.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="warn"
      [disabled]="loading"
      (click)="onSubmit()">
      {{'DIALOGS.DELETE_ATTRIBUTES.DELETE' | translate}}
    </button>
  </div>
</div>
