<div class="container-fluid pl-xl-5 pr-xl-5 member-theme" *ngIf="vo !== undefined && member !== undefined">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>
  <h1 class="page-title">
    <div class="d-flex align-items-center">
      <mat-icon [ngStyle]="{'color':'black'}" svgIcon='perun-user-dark' class="perun-icon perun-icon-detail mb-3 mr-2"></mat-icon>
      <div>
        {{'MEMBER_DETAIL.TITLE' | translate}}
        <a class="member-link" [routerLink]="['/organizations', vo.id, 'members', member.id]">
          {{fullName}}
        </a>
        <span class="text-muted">
          &nbsp;#{{member.id}}
        </span>
      </div>
    </div>

    <span class="text-muted mt-1 entity-info">
      {{'MEMBER_DETAIL.USER_ID' | translate}}:
      <span *ngIf="isAuthorized"><a class="member-link" [routerLink]="['/admin', 'users', member.userId]">
        {{member.userId}}
      </a></span>
      <span *ngIf="!isAuthorized" class="group-text">{{member.userId}}</span>
    </span>
  </h1>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
