<div class="container-fluid pl-xl-5 pr-xl-5 member-theme">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div class="d-flex page-title-headtitle" *ngIf="!loading && vo !== undefined && member !== undefined">
    <mat-icon
      matTooltip="{{'MEMBER_DETAIL.ENTITY' | translate}}"
      [ngStyle]="{'color':'black'}"
      svgIcon='perun-user-dark'
      class="perun-icon perun-icon-detail">
    </mat-icon>
    <div class="page-title-block">
      <div class="page-title-headline d-flex align-items-center">
        <a class="member-link" [routerLink]="['/organizations', vo.id, 'members', member.id]">
          {{fullName}}
        </a>
        <span class="text-muted">
          &nbsp;#{{member.id}}
        </span>
      </div>
      <span class="mt-1 entity-info">
        {{'MEMBER_DETAIL.ENTITY' | translate}},
        {{'MEMBER_DETAIL.USER_ID' | translate}}:
        <a class="member-link" *ngIf="isAuthorized" [routerLink]="['/admin', 'users', member.userId]">
          {{member.userId}}
        </a>
        <span *ngIf="!isAuthorized">{{member.userId}}</span>
      </span>
    </div>
  </div>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
