<div>
  <h1 class="page-subtitle">
    {{'FACILITY_DETAIL.HOSTS.HOSTS_DETAIL.TITLE' | translate}} {{this.host.hostname}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button class="mr-2" color="accent" (click)="addAttribute()">
    {{'FACILITY_DETAIL.HOSTS.HOSTS_DETAIL.ADD' | translate}}
  </button>
  <button mat-flat-button class="mr-2" color="accent" (click)="onSave()" [disabled]="selected.selected.length === 0">
    {{'FACILITY_DETAIL.HOSTS.HOSTS_DETAIL.SAVE' | translate}}
  </button>
  <button mat-flat-button color="warn" class="ml-2"  [disabled]="selected.selected.length === 0" (click)="removeAttribute()">
    {{'FACILITY_DETAIL.HOSTS.HOSTS_DETAIL.REMOVE' | translate}}
  </button>
  <perun-web-apps-attributes-list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    #list
    *ngIf="!loading"
    [attributes]="attributes"
    [selection]="selected">
  </perun-web-apps-attributes-list>
</div>
