<div class="h-100 d-flex flex-column">
  <h1 mat-dialog-title>{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.TITLE' | translate}}: {{this.applicationFormItem.shortname}}</h1>
  <div mat-dialog-content class="dialog-container">
    <mat-tab-group color=primary>
      <mat-tab label="{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.BASIC_SETTINGS' | translate}}">
        <div class="d-flex">
          <span class="w-25 m-auto font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SHORT_NAME' | translate}}:</span>
          <div class="w-75">
            <mat-form-field class="w-100">
              <input matInput [(ngModel)]="applicationFormItem.shortname">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex mb-3">
          <span class="w-25"></span>
          <div class="w-75 font-italic text-muted">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SHORT_NAME_DESCRIPTION' | translate}}
          </div>
        </div>
        <div class="d-flex">
          <span class="w-25 font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.INPUT_WIDGET' | translate}}:</span>
          <div class="w-75">
            {{applicationFormItem.type | applicationFormItemType}}
          </div>
        </div>
        <div class="d-flex mb-3">
          <span class="w-25"></span>
          <div class="w-75 font-italic text-muted">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.INPUT_WIDGET_DESCRIPTION' | translate}}
          </div>
        </div>
        <div class="d-flex">
          <span class="w-25 font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISPLAY_ON_APPLICATION' | translate}}:</span>
          <div class="w-75">
            <section>
              <mat-checkbox [ngModel]="this.applicationFormItem.applicationTypes.includes('INITIAL')"
                            (change)="onChangingType('INITIAL')"
                            class="mr-2">
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.INITIAL' | translate}}
              </mat-checkbox>
              <mat-checkbox [ngModel]="this.applicationFormItem.applicationTypes.includes('EXTENSION')"
                            (change)="onChangingType('EXTENSION')">
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.EXTENSION' | translate}}
              </mat-checkbox>
            </section>
          </div>
        </div>
        <div class="d-flex mb-3">
          <span class="w-25"></span>
          <div class="w-75 font-italic text-muted">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISPLAY_ON_APPLICATION_DESCRIPTION' | translate}}
          </div>
        </div>

        <div *ngIf="applicationFormItem.type === 'TEXTFIELD' ||
                        applicationFormItem.type === 'FROM_FEDERATION_HIDDEN' ||
                        applicationFormItem.type === 'FROM_FEDERATION_SHOW' ||
                        applicationFormItem.type === 'USERNAME' ||
                        applicationFormItem.type === 'VALIDATED_EMAIL' ||
                        applicationFormItem.type === 'PASSWORD' ||
                        applicationFormItem.type === 'TEXTAREA' ||
                        applicationFormItem.type === 'TIMEZONE' ||
                        applicationFormItem.type === 'CHECKBOX' ||
                        applicationFormItem.type === 'RADIO' ||
                        applicationFormItem.type === 'COMBOBOX' ||
                        applicationFormItem.type === 'SELECTIONBOX'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REQUIRED' | translate}}:</span>
            <div class="w-75">
              <section>
                <mat-checkbox [(ngModel)]="this.applicationFormItem.required">
                </mat-checkbox>
              </section>
            </div>
          </div>
          <div class="d-flex mb-3">
            <span class="w-25"></span>
            <div class="w-75 font-italic text-muted">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REQUIRED_DESCRIPTION' | translate}}
            </div>
          </div>
          <div class="d-flex">
            <span class="w-25 m-auto font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SOURCE_ATTRIBUTE' | translate}}:</span>
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-select [(value)]="applicationFormItem.perunSourceAttribute" disableOptionCentering>
                  <mat-option *ngFor="let attribute of sourceAttributes" [value]="attribute.value">
                    {{attribute.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex mb-3">
            <span class="w-25"></span>
            <div class="w-75 font-italic text-muted">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SOURCE_ATTRIBUTE_DESCRIPTION' | translate}}
            </div>
          </div>
          <div class="d-flex">
            <span class="w-25 font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DESTINATION_ATTRIBUTE' | translate}}:</span>
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-select [(value)]="applicationFormItem.perunDestinationAttribute" disableOptionCentering>
                  <mat-option *ngFor="let attribute of destinationAttributes" [value]="attribute.value">
                    {{attribute.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex mb-3">
            <span class="w-25"></span>
            <div class="w-75 font-italic text-muted">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DESTINATION_ATTRIBUTE_DESCRIPTION' | translate}}
            </div>
          </div>
          <div class="d-flex">
            <span class="w-25 font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.FEDERATION_ATTRIBUTE' | translate}}:</span>
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-select (selectionChange)="federationAttributeschanged()" [(value)]="federationAttribute" disableOptionCentering>
                  <mat-option *ngFor="let attribute of federationAttributes" [value]="attribute.value">
                    {{attribute.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="federationAttribute === 'custom'" class="w-100">
                <mat-form-field class="w-100">
                  <input matInput [(ngModel)]="applicationFormItem.federationAttribute">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="d-flex mb-3">
            <span class="w-25"></span>
            <div class="w-75 font-italic text-muted">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.FEDERATION_ATTRIBUTE_DESCRIPTION' | translate}}
            </div>
          </div>
        </div>
        <div *ngIf="applicationFormItem.type === 'TEXTFIELD' ||
                    applicationFormItem.type === 'FROM_FEDERATION_HIDDEN' ||
                    applicationFormItem.type === 'FROM_FEDERATION_SHOW' ||
                    applicationFormItem.type === 'USERNAME' ||
                    applicationFormItem.type === 'PASSWORD' ||
                    applicationFormItem.type === 'TEXTAREA' ||
                    applicationFormItem.type === 'CHECKBOX' ||
                    applicationFormItem.type === 'RADIO' ||
                    applicationFormItem.type === 'COMBOBOX' ||
                    applicationFormItem.type === 'SELECTIONBOX'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REGEX' | translate}}:</span>
            <div class="w-75">
              <mat-form-field class="w-100">
                <input matInput [(ngModel)]="applicationFormItem.regex">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex mb-3">
            <span class="w-25"></span>
            <div class="w-75 font-italic text-muted">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REGEX_DESCRIPTION' | translate}}
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LANGUAGE_EN' | translate}}">
        <div *ngIf="applicationFormItem.type ==='HEADING' ||
                        applicationFormItem.type === 'HTML_COMMENT'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [cdkTextareaAutosize]="true" [(ngModel)]="applicationFormItem.i18n['en'].label"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT_DESCRIPTION' | translate}}
            </span>
          </div>
        </div>

        <div *ngIf="applicationFormItem.type === 'TEXTFIELD' ||
                        applicationFormItem.type === 'FROM_FEDERATION_HIDDEN' ||
                        applicationFormItem.type === 'FROM_FEDERATION_SHOW' ||
                        applicationFormItem.type === 'VALIDATED_EMAIL' ||
                        applicationFormItem.type === 'USERNAME' ||
                        applicationFormItem.type === 'PASSWORD' ||
                        applicationFormItem.type === 'RADIO' ||
                        applicationFormItem.type === 'TEXTAREA' ||
                        applicationFormItem.type === 'COMBOBOX' ||
                        applicationFormItem.type === 'CHECKBOX' ||
                        applicationFormItem.type === 'TIMEZONE' ||
                        applicationFormItem.type === 'SELECTIONBOX'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].label"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_DESCRIPTION' | translate}}
            </span>
          </div>
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].help"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP_DESCRIPTION' | translate}}
            </span>
          </div>
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].errorMessage"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR_DESCRIPTION' | translate}}
            </span>
          </div>
        </div>
        <div *ngIf="applicationFormItem.type === 'SUBMIT_BUTTON' ||
                        applicationFormItem.type === 'AUTO_SUBMIT_BUTTON'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].label"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_BUTTON_DESCRIPTION' | translate}}
            </span>
          </div>
        </div>

        <div *ngIf="applicationFormItem.type === 'RADIO' ||
                    applicationFormItem.type === 'COMBOBOX' ||
                    applicationFormItem.type === 'CHECKBOX' ||
                    applicationFormItem.type === 'SELECTIONBOX'">
          <div class="font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS' | translate}}:</div>
          <div class="text-muted font-italic">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS_DESCRIPTION' | translate}}
          </div>

          <div class="d-flex mt-2 mb-2">
            <button
              mat-flat-button
              class="ml-auto mr-2"
              (click)="sortEnOptionsAZ()">
              <i class="material-icons">arrow_downward</i>
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_AZ' | translate}}
            </button>

            <button
              mat-flat-button
              class="mr-auto"
              (click)="sortEnOptionsZA()">
              <i class="material-icons">arrow_upward</i>
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_ZA' | translate}}
            </button>
          </div>

          <div *ngFor="let option of optionsEn">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.VALUE' | translate}}:
            <mat-form-field>
              <input matInput [(ngModel)]="option[0]">
            </mat-form-field>
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:
            <mat-form-field>
              <input matInput [(ngModel)]="option[1]">
            </mat-form-field>
          </div>


          <button
            mat-flat-button
            color="accent"
            class="mr-2"
            (click)="addEnOption()">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ADD_OPTION' | translate}}
          </button>
        </div>

      </mat-tab>

      <mat-tab label="{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LANGUAGE_CS' | translate}}">
        <div *ngIf="applicationFormItem.type ==='HEADING' ||
                        applicationFormItem.type === 'HTML_COMMENT'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto" >{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea [cdkTextareaAutosize]="true" matInput [(ngModel)]="applicationFormItem.i18n['cs'].label"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT_DESCRIPTION' | translate}}
            </span>
          </div>
        </div>

        <div *ngIf="applicationFormItem.type === 'TEXTFIELD' ||
                        applicationFormItem.type === 'FROM_FEDERATION_HIDDEN' ||
                        applicationFormItem.type === 'FROM_FEDERATION_SHOW' ||
                        applicationFormItem.type === 'VALIDATED_EMAIL' ||
                        applicationFormItem.type === 'USERNAME' ||
                        applicationFormItem.type === 'PASSWORD' ||
                        applicationFormItem.type === 'RADIO' ||
                        applicationFormItem.type === 'TEXTAREA' ||
                        applicationFormItem.type === 'COMBOBOX' ||
                        applicationFormItem.type === 'CHECKBOX' ||
                        applicationFormItem.type === 'TIMEZONE' ||
                        applicationFormItem.type === 'SELECTIONBOX'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].label"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_DESCRIPTION' | translate}}
            </span>
          </div>
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].help"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP_DESCRIPTION' | translate}}
            </span>
          </div>
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].errorMessage"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR_DESCRIPTION' | translate}}
            </span>
          </div>
        </div>

        <div *ngIf="applicationFormItem.type === 'SUBMIT_BUTTON' ||
                        applicationFormItem.type === 'AUTO_SUBMIT_BUTTON'">
          <div class="d-flex">
            <span class="w-25 font-weight-bold m-auto">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:</span>
            <mat-form-field class="w-75">
              <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].label"></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <span class="w-25"></span>
            <span class="w-75 text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_BUTTON_DESCRIPTION' | translate}}
            </span>
          </div>
        </div>

        <div *ngIf="applicationFormItem.type === 'RADIO' ||
                    applicationFormItem.type === 'COMBOBOX' ||
                    applicationFormItem.type === 'CHECKBOX' ||
                    applicationFormItem.type === 'SELECTIONBOX'">
          <div class="font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS' | translate}}:</div>
          <div class="text-muted font-italic">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS_DESCRIPTION' | translate}}
          </div>

          <div class="d-flex mt-2 mb-2">
            <button
              mat-flat-button
              class="ml-auto mr-2"
              (click)="sortCsOptionsAZ()">
              <i class="material-icons">arrow_downward</i>
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_AZ' | translate}}
            </button>

            <button
              mat-flat-button
              class="mr-auto"
              (click)="sortCsOptionsZA()">
              <i class="material-icons">arrow_upward</i>
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_ZA' | translate}}
            </button>
          </div>

          <div *ngFor="let option of optionsCs">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.VALUE' | translate}}:
            <mat-form-field>
              <input matInput [(ngModel)]="option[0]">
            </mat-form-field>
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:
            <mat-form-field>
              <input matInput [(ngModel)]="option[1]">
            </mat-form-field>
          </div>


          <button
            mat-flat-button
            color="accent"
            class="mr-2"
            (click)="addCsOption()">
            {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ADD_OPTION' | translate}}
          </button>
        </div>

      </mat-tab>
    </mat-tab-group>


  </div>
  <div class="flex-grow-1"></div>
  <div class="d-flex mt-auto" mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto mt-auto"
      (click)="cancel()">
      {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CANCEL_BUTTON' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2 mt-auto"
      color="accent"
      (click)="submit()">
      {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SUBMIT_BUTTON' | translate}}
    </button>
  </div>
</div>
