<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.SETTINGS.EXT_SOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button class="mr-2" color="accent" (click)="onAdd()">
    {{'VO_DETAIL.SETTINGS.EXT_SOURCES.ADD' | translate}}
  </button>
  <button mat-flat-button color="warn" (click)="onRemove()" [disabled]="selection.selected.length === 0">
    {{'VO_DETAIL.SETTINGS.EXT_SOURCES.REMOVE' | translate}}
  </button>
  <perun-web-apps-immediate-filter (filter)="applyFilter($event)"
                                   [placeholder]="'VO_DETAIL.SETTINGS.EXT_SOURCES.FILTER'"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-ext-sources-list
    *ngIf="!loading"
    [extSources]="extSources"
    [filterValue]="filterValue"
    [selection]="selection">
  </app-ext-sources-list>
</div>
