<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.HOSTS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading && addAuth"
    mat-flat-button
    color="accent"
    class="mr-2"
    (click)="addHost()">
    {{'FACILITY_DETAIL.HOSTS.ADD' | translate}}
  </button>
  <button
    *ngIf="!loading && removeAuth"
    mat-flat-button
    color="warn"
    class="mr-2"
    [disabled]="selected.selected.length === 0" (click)="removeHost()">
    {{'FACILITY_DETAIL.HOSTS.REMOVE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    [placeholder]="'FACILITY_DETAIL.HOSTS.FILTER'"
    (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-hosts-list
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [hosts]="hosts"
    [selection]="selected"
    [displayedColumns]="displayedColumns"
    [disableRouting]="!routeAuth"
    [facilityId]="facilityId">
  </app-hosts-list>
</div>
