<h1 class="page-subtitle">{{'RESOURCE_DETAIL.ASSIGNED_GROUPS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="loadAllGroups()"></perun-web-apps-refresh-button>
<button (click)="addGroup()"
        *ngIf="!loadingResource && guiAuthResolver.isAuthorized('assignGroupsToResource_List<Group>_Resource_policy',[resource])"
        color="accent"
        mat-flat-button>
  {{'RESOURCE_DETAIL.ASSIGNED_GROUPS.ADD_GROUP' | translate}}
</button>
<button (click)="removeGroups()"
        [disabled]="selected.selected.length === 0 || !canRemoveGroups()"
        class="ml-2 mr-2"
        color="warn"
        mat-flat-button>
          <span [matTooltipDisabled]="canRemoveGroups()"
                matTooltip="{{'RESOURCE_DETAIL.ASSIGNED_GROUPS.REMOVE_TOOLTIP' | translate}}">
            {{'RESOURCE_DETAIL.ASSIGNED_GROUPS.REMOVE_GROUP' | translate}}
          </span>
</button>
<app-debounce-filter
  [placeholder]="'RESOURCE_DETAIL.ASSIGNED_GROUPS.FILTER_GROUPS'"
  (filter)="applyFilter($event)">
</app-debounce-filter>
<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<div class="mt-3" *ngIf="!loading && assignedGroups.length !== 0">
  <perun-web-apps-groups-list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    [groups]="assignedGroups"
    [filter]="filteredValue"
    [selection]="selected"
    [disableMembers]="false"
    [disableRouting]="!guiAuthResolver.isAuthorized('getGroupById_int_policy', [assignedGroups[0]])"
    [hideColumns]="['vo', 'menu']">
  </perun-web-apps-groups-list>
</div>
<app-alert *ngIf="assignedGroups.length === 0 && !loading" alert_type="warn">
  {{'RESOURCE_DETAIL.ASSIGNED_GROUPS.NO_GROUPS' | translate}}
</app-alert>
