<div [class.hide-table]="exporting" [hidden]="this.applications.length === 0 || dataSource.filteredData.length === 0" class="card mt-2">
  <div class="card-body table-theme">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table #exporter="matTableExporter" [dataSource]="dataSource" class="w-100" mat-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear matTableExporter>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_ID' | translate}}</th>
          <td *matCellDef="let application" class="static-column-size" mat-cell>{{application.id}}</td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_CREATED_DATE' | translate}}</th>
          <td *matCellDef="let application" mat-cell>{{application.createdAt | date}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_TYPE' | translate}}</th>
          <td *matCellDef="let application" mat-cell>
            <div *ngIf="application.type == 'INITIAL'; else extension">
              <mat-icon matTooltip="Initial" matTooltipPosition="above">arrow_right_alt</mat-icon>
            </div>
            <ng-template #extension>
              <mat-icon matTooltip="Extension" matTooltipPosition="above">cached</mat-icon>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_STATE' | translate}}</th>
          <td *matCellDef="let application" mat-cell>
            <span [outerHTML]="application.state | applicationState"></span>
          </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_SUBMITTED_BY' | translate}}</th>
          <td *matCellDef="let application" mat-cell>
            <div *ngIf="application.user == null; else name">
              {{application.createdBy.slice(application.createdBy.lastIndexOf('=')+1, application.createdBy.length)}}
            </div>
            <ng-template #name>
              {{application.user | userFullName}}
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="extSourceLoa">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_LOA' | translate}}</th>
          <td *matCellDef="let application" mat-cell>{{application.extSourceLoa}}</td>
        </ng-container>
        <ng-container matColumnDef="group">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_GROUP_NAME' | translate}}</th>
          <td *matCellDef="let application" mat-cell>
            <div *ngIf="application.group == null; else groupName" class="font-italic text-muted">
              -
            </div>
            <ng-template #groupName>
              {{application.group.name}}
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="modifiedBy">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.APPLICATION.TABLE_MODIFIED_BY' | translate}}</th>
          <td *matCellDef="let application" mat-cell>{{getFriendlyName(application.modifiedBy)}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          (click)="selectApplication(application)"
          *matRowDef="let application; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.applications.length"
      [pageSize]="pageSize"
      (page)="pageChanged($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="this.applications.length === 0" color="warn">
  {{'VO_DETAIL.APPLICATION.NO_APPLICATION_FOUND' | translate}}
</app-alert>

<app-alert *ngIf="dataSource.filteredData.length === 0 && applications.length !== 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>
