.unique-toggle-label {
  font-size: 1.125rem;
}

.width-650 {
  width: 650px !important;
}

.pointer {
  cursor: pointer;
}

:host {
  //display: block;
  overflow: hidden;
}

.parent {
  //height: 100%;
  //width: 200%;
  display: flex;
  div { flex: 1; }
}

//.mat-dialog-height-transition {
//  transition: height 0.5s !important;
//}

//.animate-show {
//  height: 0;
//  background: white;
//  overflow: hidden;
//  transition: all 0.5s;
//}
//
//.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
//  transition: all 0.5s;
//}
//
//.animate-show:not(.ng-hide) {
//  height: 60px;
//}

textarea[cdktextareaautosize].mat-input-element {
  overflow: hidden;
}
