<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.SUBGROUPS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button (click)="onCreateGroup()" class="mr-2" color="accent" mat-flat-button>
    {{'GROUP_DETAIL.SUBGROUPS.CREATE_GROUP' | translate}}
  </button>
  <span
    matTooltip="{{'GROUP_DETAIL.SUBGROUPS.DELETE_PERMISSION_HINT' | translate}}"
    [matTooltipDisabled]="(tree === undefined && list === undefined) ||
          (tree !== undefined && tree.removeAuth) ||
          (list !== undefined && list.removeAuth)">

    <button (click)="deleteGroup()"
            *ngIf="!loading && deleteAuth"
            mat-flat-button
            color="warn"
            class="mr-2"
            [disabled]="selected.selected.length === 0 ||
              (tree !== undefined && !tree.removeAuth) ||
              (list !== undefined && !list.removeAuth)">
            {{'GROUP_DETAIL.SUBGROUPS.DELETE_GROUP' | translate}}
    </button>
  </span>
  <app-debounce-filter
    [placeholder]="'GROUP_DETAIL.SUBGROUPS.FILTER'"
    (filter)="applyFilter($event)">
  </app-debounce-filter>
  <mat-slide-toggle #toggle (change)="selected.clear()" [(ngModel)]="showGroupList" class="mr-1" color="primary"
                    labelPosition="before">{{'GROUP_DETAIL.SUBGROUPS.TREE_VIEW' | translate}}</mat-slide-toggle>
  <label [attr.for]="toggle.inputId">{{'GROUP_DETAIL.SUBGROUPS.LIST_VIEW' | translate}}</label>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div class="mt-3" *ngIf="!loading">
    <perun-web-apps-groups-tree
      #tree
      *ngIf="!showGroupList"
      [groups]="filteredTreeGroups"
      [expandAll]="filtering"
      [hideCheckbox]="!deleteAuth"
      (moveGroup)="onMoveGroup($event)"
      (refreshTable)="refreshTable()"
      [selection]="selected"
      [disableRouting]="!routeAuth">
    </perun-web-apps-groups-tree>
    <perun-web-apps-groups-list
      #list
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      [groups]="filteredGroups"
      [selection]="selected"
      [authType]="'group-subgroups'"
      [disableMembers]="true"
      [disableRouting]="!routeAuth"
      [hideColumns]="hideColumns"
      (moveGroup)="onMoveGroup($event)"
      (refreshTable)="refreshTable()"
      *ngIf="showGroupList">
    </perun-web-apps-groups-list>
  </div>
</div>
