<div>
  <h1 class="page-subtitle">{{'GROUP_DETAIL.SUBGROUPS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button color="accent" (click)="onCreateGroup()">
    {{'GROUP_DETAIL.SUBGROUPS.CREATE_GROUP' | translate}}
  </button>
  <button mat-flat-button color="warn" class="ml-2" [disabled]="selected.selected.length === 0" (click)="deleteGroup()">
    {{'GROUP_DETAIL.SUBGROUPS.DELETE_GROUP' | translate}}
  </button>
  <app-debounce-filter
    [placeholder]="'GROUP_DETAIL.SUBGROUPS.FILTER'"
    (filter)="applyFilter($event)">
  </app-debounce-filter>
  <mat-checkbox color="primary" class="ml-3" [(ngModel)]="showGroupList" #checkbox>
    {{'GROUP_DETAIL.SUBGROUPS.SHOW_LIST' | translate}}
  </mat-checkbox>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div class="mt-3" *ngIf="!loading">
    <app-groups-tree
      *ngIf="!showGroupList"
      [groups]="filteredTreeGroups"
      [expandAll]="filtering"
      [selection]="selected">
    </app-groups-tree>
    <perun-web-apps-groups-list
      [groups]="filteredGroups"
      [selection]="selected"
      [disableMembers]="true"
      [hideColumns]="['vo']"
      *ngIf="showGroupList">
    </perun-web-apps-groups-list>
  </div>
</div>
