<div class="buttons-container pl-2 pr-2 pl-xl-5 pr-xl-5">
  <a class="main-menu-button user-btn"
     [routerLink]="['profile']"
     mat-ripple>
    <mat-icon [svgIcon]="'perun-user'" class="item-pic perun-icon"></mat-icon>
<!--    <img src="assets/img/PerunWebImages/user-white.svg">-->
    <h1>{{'MAIN_MENU.PROFILE' | translate}}</h1>
    <p>{{'MAIN_MENU.PROFILE_DESC' | translate}}</p>
  </a>
  <a *ngIf="authResolver.isVoAdmin() || authResolver.isVoObserver()"
     class="main-menu-button vo-btn"
     [routerLink]="['organizations']"
     mat-ripple>
    <mat-icon [svgIcon]="'perun-vo'" class="item-pic perun-icon"></mat-icon>
    <!--    <img src="assets/img/PerunWebImages/vo-white.svg">-->
    <h1>{{'MAIN_MENU.ACCESS' | translate}}</h1>
    <p>{{'MAIN_MENU.ACCESS_DESC' | translate}}</p>
  </a>
  <a class="main-menu-button facility-btn"
     [routerLink]="['facilities']"
     *ngIf="authResolver.canManageFacilities()"
     mat-ripple>
    <mat-icon [svgIcon]="'perun-manage-facility'" class="item-pic perun-icon"></mat-icon>
<!--    <img src="assets/img/PerunWebImages/manage_facility_white.svg">-->
    <h1>{{'MAIN_MENU.FACILITIES' | translate}}</h1>
    <p>{{'MAIN_MENU.FACILITIES_DESC' | translate}}</p>
  </a>
  <a *ngIf="authResolver.isPerunAdmin()"
     class="main-menu-button admin-btn"
     [routerLink]="['admin']"
     mat-ripple>
    <mat-icon [svgIcon]="'perun-perun-admin'" class="item-pic perun-icon"></mat-icon>
<!--    <img src="assets/img/PerunWebImages/perun_admin-white.svg">-->
    <h1>{{'MAIN_MENU.ADMIN' | translate}}</h1>
    <p>{{'MAIN_MENU.ADMIN_DESC' | translate}}</p>
  </a>
</div>
