<h1 class="page-title">{{'PASSWORD_RESET.TITLE' | customTranslate | translate}}</h1>
<div class="card mt-2">
  <div class="card-body">
    <div class="overflow-auto">
      <table [dataSource]="dataSource" class="w-100" mat-table matSort matSortActive="value"  matSortDirection="asc"
             matSortDisableClear matTableExporter>
        <ng-container matColumnDef="namespace">
          <th *matHeaderCellDef mat-header-cell>{{'PASSWORD_RESET.NAMESPACE' | customTranslate | translate}}</th>
          <td *matCellDef="let login" class="w-25" mat-cell>{{login.friendlyNameParameter}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th *matHeaderCellDef mat-header-cell>{{'PASSWORD_RESET.LOGIN' | customTranslate | translate}}</th>
          <td *matCellDef="let login" class="w-50" mat-cell>{{login.value}}</td>
        </ng-container>
        <ng-container matColumnDef="change">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let login" mat-cell>
            <button (click)="changePassword(login.friendlyNameParameter)" [disabled]="!logins.includes(login)" color="accent" mat-flat-button>{{'PASSWORD_RESET.CHANGE_PASSWORD' | customTranslate | translate}}</button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let group; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>
  </div>
</div>
