<div class="card mt-3"
     [class.hide-table]="exporting"
     [hidden]="dataSource.filteredData.length === 0 || destinations.length === 0">
  <div class="card-body">
    <perun-web-apps-table-options
      (exportEnd)="exporting = false"
      (exportStart)="exporting = true"
      [exporter]="exporter"
      class="ml-auto">
    </perun-web-apps-table-options>
    <div class="overflow-auto">
      <table #exporter="matTableExporter" [dataSource]="dataSource"
             class="w-100"
             mat-table
             matSort
             matSortActive="id"
             matSortDirection="asc"
             matSortDisableClear
             matTableExporter>

        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let resource" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(resource) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(resource)"
                          [checked]="selection.isSelected(resource)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="destinationId">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_DETAIL.SERVICES_DESTINATIONS.TABLE_DESTINATION_ID' | translate}}</th>
          <td *matCellDef="let destination" class="static-column-size" mat-cell>{{destination.id}}</td>
        </ng-container>
        <ng-container matColumnDef="service">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_DETAIL.SERVICES_DESTINATIONS.TABLE_SERVICE' | translate}}</th>
          <td *matCellDef="let destination" mat-cell>{{destination.service.name}}</td>
        </ng-container>
        <ng-container matColumnDef="destination">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_DETAIL.SERVICES_DESTINATIONS.TABLE_DESTINATION' | translate}}</th>
          <td *matCellDef="let destination" mat-cell>{{destination.destination}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_DETAIL.SERVICES_DESTINATIONS.TABLE_TYPE' | translate}}</th>
          <td *matCellDef="let destination" mat-cell>{{destination.type}}</td>
        </ng-container>
        <ng-container matColumnDef="propagationType">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'FACILITY_DETAIL.SERVICES_DESTINATIONS.TABLE_PROPAGATION_TYPE' | translate}}</th>
          <td *matCellDef="let destination" mat-cell>{{destination.propagationType}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let destination; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="destinations.length"
      [pageSize]="pageSize"
      (page)="page.emit($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="dataSource.filteredData.length === 0 && destinations.length !== 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert *ngIf="destinations.length === 0" color="warn">
  {{'FACILITY_DETAIL.SERVICES_DESTINATIONS.NO_DESTINATION' | translate}}
</app-alert>
