<div>
  <h1 class="page-subtitle">{{ 'SHARED.IDENTITY_DETAIL.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    mat-flat-button
    class="ml-2"
    color="accent"
    [disabled]="selection.selected.length === 0"
    (click)="onSave()" >{{ 'SHARED.IDENTITY_DETAIL.SAVE' | translate}}</button>
  <button
    mat-flat-button
    color="accent"
    class="ml-2"
    (click)="onAdd()">{{ 'SHARED.IDENTITY_DETAIL.ADD' | translate}}</button>
  <button
    mat-flat-button
    color="warn"
    class="ml-2"
    [disabled]="selection.selected.length === 0"
    (click)="onRemove()">{{ 'SHARED.IDENTITY_DETAIL.REMOVE' | translate}}</button>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <perun-web-apps-attributes-list
    #list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    *ngIf="!loading"
    [attributes]="attributes"
    [selection]="selection">
  </perun-web-apps-attributes-list>
</div>
