<h1 class="page-subtitle">{{'VO_DETAIL.APPLICATION.TITLE' | translate}}</h1>
<div class="align-inline">
<perun-web-apps-refresh-button (refresh)="select()"></perun-web-apps-refresh-button>
<mat-form-field class="w-25 mr-2">
  <mat-label>{{'VO_DETAIL.APPLICATION.TABLE_STATE' | translate}}</mat-label>
  <mat-select (selectionChange)="select()" [(value)]="state" disableOptionCentering>
    <mat-option value="all">{{'VO_DETAIL.APPLICATION.SELECTION_ALL' | translate}}</mat-option>
    <mat-option value="wfmv">{{'VO_DETAIL.APPLICATION.SELECTION_WFMV' | translate}}</mat-option>
    <mat-option value="submited">{{'VO_DETAIL.APPLICATION.SELECTION_SUBMITTED' | translate}}</mat-option>
    <mat-option value="pending">{{'VO_DETAIL.APPLICATION.SELECTION_PENDING' | translate}}</mat-option>
    <mat-option value="approved">{{'VO_DETAIL.APPLICATION.SELECTION_APPROVED' | translate}}</mat-option>
    <mat-option value="rejected">{{'VO_DETAIL.APPLICATION.SELECTION_REJECTED' | translate}}</mat-option>
  </mat-select>
</mat-form-field>
<perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'VO_DETAIL.APPLICATION.FILTER'"></perun-web-apps-immediate-filter>
</div>
<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<app-applications-list
  *ngIf="!loading"
  [filterValue]="filterValue"
  [applications]="applications"
  [displayedColumns]="displayedColumns"
  [group]="group">
</app-applications-list>
