<h1 mat-dialog-title>{{'DIALOGS.DISCONNECT_IDENTITY.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <div mat-dialog-content>
    <p>{{'DIALOGS.DISCONNECT_IDENTITY.DESCRIPTION' | translate}}</p>
    <div class="font-weight-bold">
      {{'DIALOGS.DISCONNECT_IDENTITY.ASK' | translate}}
    </div>
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let identity"> {{identity | userFullName}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="font-weight-bolder"></tr>
      <tr mat-row *matRowDef="let identity; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.DISCONNECT_IDENTITY.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="warn"
      (click)="onConfirm()">
      {{'DIALOGS.DISCONNECT_IDENTITY.REMOVE' | translate}}
    </button>
  </div>
</div>

