<div (keyup)="onKeyInput($event)">
  <h1 class="page-subtitle">{{'GROUP_DETAIL.MEMBERS.TITLE' | translate}}</h1>

  <button mat-flat-button color="accent" class="mr-2" (click)="onAddMember()">
    {{'GROUP_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
  </button>
  <button mat-flat-button color="warn" class="mr-2" [disabled]="selection.isEmpty()" (click)="onRemoveMembers()">
    {{'GROUP_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
  </button>
  <button mat-stroked-button class="mr-2 mb-2" (click)="onListAll()">
    {{'GROUP_DETAIL.MEMBERS.LIST_ALL' | translate}}
  </button>

  <mat-form-field class="mr-2 search-field no-border-mat-input">
    <label>
      <input matInput autocomplete="false" placeholder="{{'GROUP_DETAIL.MEMBERS.SEARCH_DESCRIPTION' | translate}}" [(ngModel)]="searchString">
    </label>
  </mat-form-field>
  <button mat-flat-button color="primary" class="mr-2" [disabled]="searchString.length === 0" (click)="onSearchByString()">
    <mat-icon>search</mat-icon>
  </button>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto">
  </mat-spinner>
  <app-alert color="info" *ngIf="!firstSearchDone">
    {{'GROUP_DETAIL.MEMBERS.SEARCH_ALERT' | translate}}
  </app-alert>
  <div class="mt-3" *ngIf="members !== null && !loading">
    <app-members-list
      [selection]="selection"
      [members]="members"
      (updateTable)="refreshTable()"
      *ngIf="members.length !== 0">
    </app-members-list>

    <app-alert *ngIf="members.length === 0" color="warn">
      {{'GROUP_DETAIL.MEMBERS.NO_MEMBERS_ALERT' | translate}}
    </app-alert>
  </div>
</div>
