<div>
  <h1 mat-dialog-title>{{'DIALOGS.GROUP_SYNC_DETAIL.TITLE' | translate}}</h1>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div mat-dialog-content *ngIf="!loading">
    <span>
      {{'DIALOGS.GROUP_SYNC_DETAIL.GROUP_NAME' | translate}}
      <b>{{group.name}}</b>
    </span>
    <br>
    <span>
      {{'DIALOGS.GROUP_SYNC_DETAIL.SYNCHRONIZATION' | translate}}
      <b>{{getSynchronizationType() | translate}}</b>
    </span>
    <br>
    <span>
      {{'DIALOGS.GROUP_SYNC_DETAIL.LAST_SYNC_STATE' | translate}}
      <b>{{getLastSyncState() | translate}}</b>
    </span>
    <br>
    <span>
      {{'DIALOGS.GROUP_SYNC_DETAIL.LAST_SYNC_TIME' | translate}}
      <b>{{getLastSyncTime() | translate}}</b>
    </span>
  </div>
  <div mat-dialog-actions>
    <div class="ml-auto">
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        class="ml-2"
        [disabled]="this.loading"
        *ngIf="this.isStructured()"
        mat-flat-button
        (click)="onForceStructure()"
      >
        {{'DIALOGS.GROUP_SYNC_DETAIL.FORCE_STRUCTURE' | translate}}
      </button>
      <button
        [disabled]="this.loading"
        *ngIf="this.isBasic() || this.isStructured()"
        mat-flat-button
        class="ml-2"
        (click)="onForce()">
        {{'DIALOGS.GROUP_SYNC_DETAIL.FORCE' | translate}}
      </button>
      <button
        mat-flat-button
        class="ml-2"
        (click)="onCancel()">
        {{'DIALOGS.GROUP_SYNC_DETAIL.CANCEL' | translate}}
      </button>
    </div>
  </div>
</div>
