<h3>{{'PREFERRED_UNIX_GROUP_NAMES.TITLE' | translate}}</h3>
<mat-card *ngFor="let namespace of namespaces; let i = index">
  <h4>{{namespace}}</h4>
  <button mat-flat-button color="accent" (click)="addGroupName(namespace)">{{'PREFERRED_UNIX_GROUP_NAMES.NEW_BUTTON' | translate}}</button>
  <button mat-flat-button color="warn" class="ml-2" (click)="removeGroupName(namespace, i)" [disabled]="selectionList[i].selected.length === 0">{{'PREFERRED_UNIX_GROUP_NAMES.REMOVE_BUTTON' | translate}}</button>

  <perun-web-apps-string-list
    [values]="groupNames.get(namespace)"
    [selection]="selectionList[i]"
    [alertText]="alertText"
    [headerColumnText]="headerColumnText
"></perun-web-apps-string-list>
</mat-card>
