<h1 mat-dialog-title>{{'DIALOGS.REMOVE_MEMBERS.TITLE' | translate}}</h1>
<div mat-dialog-content *ngIf="!loading">
  <p>
    {{(!!data.groupId ? 'DIALOGS.REMOVE_MEMBERS.DESCRIPTION_GROUP' : 'DIALOGS.REMOVE_MEMBERS.DESCRIPTION') | translate}}
  </p>

  <div class="font-weight-bold">
    {{'DIALOGS.REMOVE_MEMBERS.ASK' | translate}}
  </div>

  <table mat-table [dataSource]="dataSource" class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let member"> {{member.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let member"> {{member.user | userFullName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="font-weight-bolder"></tr>
    <tr mat-row *matRowDef="let member; columns: displayedColumns;"></tr>
  </table>

</div>
<mat-spinner class="mr-auto ml-auto" *ngIf="loading"></mat-spinner>
<div mat-dialog-actions *ngIf="!loading">
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.DELETE_GROUP.CANCEL' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="warn"
    (click)="onSubmit()">
    {{(!!data.groupId ? 'DIALOGS.REMOVE_MEMBERS.REMOVE_GROUP' : 'DIALOGS.REMOVE_MEMBERS.REMOVE') | translate}}
  </button>
</div>
