<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.GROUPS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="loadAllGroups()"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading && createAuth"
    mat-flat-button
    color="accent"
    class="mr-2"
    (click)="onCreateGroup()">
    {{'VO_DETAIL.GROUPS.CREATE_GROUP' | translate}}
  </button>
  <span
    *ngIf="!loading"
    [matTooltipDisabled]="(tree === undefined && list === undefined) || disableTooltip()"
    matTooltip="{{'VO_DETAIL.GROUPS.DELETE_PERMISSION_HINT' | translate}}">
    <button
      *ngIf="!loading"
      mat-flat-button
      color="warn"
      class="mr-2"
      [disabled]="selected.selected.length === 0 || disableRemove()"
      (click)="deleteGroup()">
      {{'VO_DETAIL.GROUPS.DELETE_GROUP' | translate}}
    </button>
  </span>
  <app-debounce-filter
    [placeholder]="'VO_DETAIL.GROUPS.FILTER'"
    (filter)="applyFilter($event)">
  </app-debounce-filter>
  <mat-slide-toggle #toggle (change)="removeAllGroups()" [(ngModel)]="showGroupList" class="mr-1" color="primary"
                    labelPosition="before">{{'VO_DETAIL.GROUPS.TREE_VIEW' | translate}}</mat-slide-toggle>
  <label [attr.for]="toggle.inputId">{{'VO_DETAIL.GROUPS.LIST_VIEW' | translate}}</label>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div class="mt-3" *ngIf="!loading && groups.length !== 0">
    <perun-web-apps-groups-tree
      #tree
      (moveGroup)="onMoveGroup($event)"
      *ngIf="!showGroupList"
      [groups]="groups"
      [expandAll]="filtering"
      [vo]="vo"
      [selection]="selected"
      [disableRouting]="!routeAuth"
      [filterValue]="filterValue"
      (refreshTable)="loadAllGroups()"
      theme="vo-theme">
    </perun-web-apps-groups-tree>
    <perun-web-apps-groups-list
      #list
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      (moveGroup)="onMoveGroup($event)"
      [groups]="groups"
      [selection]="selected"
      [disableMembers]="true"
      [hideColumns]="['vo']"
      [disableRouting]="!routeAuth"
      [authType]="'vo-groups'"
      *ngIf="showGroupList"
      [filter]="filterValue"
      (refreshTable)="loadAllGroups()"
      theme="vo-theme">
    </perun-web-apps-groups-list>
  </div>

  <app-alert *ngIf="groups.length === 0 && !loading">
    {{'VO_DETAIL.GROUPS.NO_GROUPS' | translate}}
  </app-alert>
</div>
