<div class="card mt-3" [class.hide-table]="exporting" [hidden]="dataSource.filteredData.length === 0 || hosts.length === 0">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <table
      mat-table matTableExporter
      [dataSource]="dataSource"
      #exporter="matTableExporter"
      matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear
      class="w-100">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let host" class="static-column-size">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(host) : null"
                        [checked]="selection.isSelected(host)"
                        [aria-label]="checkboxLabel(host)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.HOSTS_LIST.TABLE_HOST_ID' | translate}}</th>
        <td mat-cell class="static-column-size" *matCellDef="let host">{{host.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.HOSTS_LIST.TABLE_HOST_NAME' | translate}}</th>
        <td mat-cell *matCellDef="let host">{{host.hostname}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let host; columns: displayedColumns;"
        (click)="selectHost(host)"
        >
      </tr>
    </table>
    <mat-paginator
      [length]="this.hosts.length"
      [pageSize]="pageSize"
      (page)="page.emit($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="dataSource.filteredData.length === 0 && hosts.length !== 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert *ngIf="hosts.length === 0" color="warn">
  {{'SHARED.COMPONENTS.HOSTS_LIST.NO_HOST_WARNING' | translate}}
</app-alert>
