<div [class.hide-table]="exporting" [hidden]="dataSource.filteredData.length === 0 || hosts.length === 0" class="card mt-3">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table
        #exporter="matTableExporter" [dataSource]="dataSource"
        class="w-100"
        mat-table
        matSort matSortActive="id"
        matSortDirection="asc" matSortDisableClear
        matTableExporter>

        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let host" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(host) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(host)"
                          [checked]="selection.isSelected(host)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.HOSTS_LIST.TABLE_HOST_ID' | translate}}</th>
          <td *matCellDef="let host" class="static-column-size" mat-cell>{{host.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.HOSTS_LIST.TABLE_HOST_NAME' | translate}}</th>
          <td *matCellDef="let host" mat-cell>{{host.hostname}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          (click)="selectHost(host)"
          *matRowDef="let host; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row
        >
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.hosts.length"
      [pageSize]="pageSize"
      (page)="page.emit($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="dataSource.filteredData.length === 0 && hosts.length !== 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert *ngIf="hosts.length === 0" color="warn">
  {{'SHARED.COMPONENTS.HOSTS_LIST.NO_HOST_WARNING' | translate}}
</app-alert>
