<h1 mat-dialog-title>{{'DIALOGS.APPLICATION_FORM_ADD_ITEM.TITLE' | translate}}</h1>
<div mat-dialog-content class="dialog-container">
  {{'DIALOGS.APPLICATION_FORM_ADD_ITEM.SHORT_NAME' | translate}}:
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="shortName">
  </mat-form-field>
  {{'DIALOGS.APPLICATION_FORM_ADD_ITEM.INPUT_WIDGET' | translate}}:
  <mat-form-field class="mb-4">
    <mat-select [(ngModel)]="selectedWidget" disableOptionCentering>
      <mat-option *ngFor="let widget of widgets" [value]="widget">
        {{widget | applicationFormItemType}}
      </mat-option>
    </mat-select>
    <mat-hint>{{selectedWidget | applicationFormWidgetDescription}}
    </mat-hint>
  </mat-form-field>
  {{'DIALOGS.APPLICATION_FORM_ADD_ITEM.INSERT_AFTER' | translate}}:
  <mat-form-field>
    <mat-select [(ngModel)]="selectedItem" disableOptionCentering>
      <mat-option *ngFor="let item of items" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="cancel()">
    {{'DIALOGS.APPLICATION_FORM_ADD_ITEM.CANCEL' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="accent"
    (click)="submit()">
    {{'DIALOGS.APPLICATION_FORM_ADD_ITEM.CREATE' | translate}}
  </button>
</div>
