<div [class.hide-table]="exporting" class="card mt-2">
  <div class="card-body table-theme">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="w-100"
        mat-table
        matSort
        matSortActive="id"
        matSortDirection="asc"
        matSortDisableClear
        matTableExporter>
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let member" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(member) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(member)"
                          [checked]="selection.isSelected(member)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'MEMBERS_LIST.ID' | translate}}</th>
          <td *matCellDef="let member" class="static-column-size" mat-cell>{{member.id}}</td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'MEMBERS_LIST.NAME' | translate}}</th>
          <td *matCellDef="let member" mat-cell>{{member.user | userFullName}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'MEMBERS_LIST.STATUS' | translate}}</th>
          <td *matCellDef="let member" mat-cell>
            <i (click)="changeStatus($event, member)"
               class="material-icons {{member.status | memberStatusIconColor}}"
               matTooltip="{{member.status}}"
               matTooltipPosition="left">
              {{member.status | memberStatusIcon}}
            </i>
          </td>
        </ng-container>
        <ng-container matColumnDef="groupStatus">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'MEMBERS_LIST.GROUP_STATUS' | translate}}</th>
          <td *matCellDef="let member" mat-cell>
            <i class="material-icons {{member.groupStatus | memberStatusIconColor}}" matTooltip="{{member.groupStatus}}" matTooltipPosition="left">
              {{member.groupStatus | memberStatusIcon}}
            </i>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'MEMBERS_LIST.EMAIL' | translate}}</th>
          <td *matCellDef="let member" mat-cell>{{member | memberEmail}}</td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let member; columns: displayedColumns;"
          [routerLink]="['/organizations', member.voId, 'members', member.id]"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.members.length"
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>
