<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.SECURITY_TEAMS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<!--  <button mat-flat-button color="accent" (click)="addSecurityTeam()">-->
<!--    {{'FACILITY_DETAIL.SECURITY_TEAMS.ADD'| translate}}-->
<!--  </button>-->
<!--  <button mat-flat-button color="warn" class="ml-2"  [disabled]="selected.selected.length === 0" (click)="removeSecurityTeam()">-->
<!--    {{'FACILITY_DETAIL.SECURITY_TEAMS.REMOVE'| translate}}-->
<!--  </button>-->
  <perun-web-apps-immediate-filter
    [placeholder]="'FACILITY_DETAIL.SECURITY_TEAMS.FILTER'"
    (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-security-teams-list
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [securityTeams]="securityTeams"
    [selection]="selected">
  </app-security-teams-list>
</div>
