.dashboard-container {
  columns: 300px 2;   //1. minimum width of column, 2. max number of columns
  column-gap: 1rem;
  margin: 0;
}

.dashboard-container div {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  min-width: 300px;
  width: 100%;
}


.cover-image {
  background-size: cover;
}

.mat-card-header {
  flex-wrap: wrap;
}
