<div>
  <h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.ATTRIBUTES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button class="mr-2" color="accent" (click)="onCreate()">
    {{'USER_DETAIL.SETTINGS.ATTRIBUTES.CREATE' | translate}}
  </button>

  <button mat-flat-button class="mr-2" color="accent" (click)="onSave()" [disabled]="selection.selected.length === 0">
    {{'USER_DETAIL.SETTINGS.ATTRIBUTES.SAVE' | translate}}
  </button>

  <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="selection.selected.length === 0">
    {{'USER_DETAIL.SETTINGS.ATTRIBUTES.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"></perun-web-apps-immediate-filter>

  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>

  <perun-web-apps-attributes-list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    #list
    *ngIf="!loading"
    [filterValue]="filterValue"
    [attributes]="attributes"
    [selection]="selection">
  </perun-web-apps-attributes-list>
</div>
