<h1 mat-dialog-title>{{'DIALOGS.RE_SEND_NOTIFICATION.TITLE' | translate}}</h1>

<div mat-dialog-content>
  {{'DIALOGS.RE_SEND_NOTIFICATION.SELECT' | translate}}:
  <mat-form-field class="w-100">
    <mat-select [(value)]="mailType" disableOptionCentering>
      <mat-option value="APP_CREATED_USER">{{'DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.APP_CREATED_USER' | translate}}</mat-option>
      <mat-option value="APP_CREATED_VO_ADMIN">{{'DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.APP_CREATED_VO_ADMIN' | translate}}</mat-option>
      <mat-option value="MAIL_VALIDATION">{{'DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.MAIL_VALIDATION' | translate}}</mat-option>
      <mat-option value="APP_APPROVED_USER">{{'DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.APP_APPROVED_USER' | translate}}</mat-option>
      <mat-option value="APP_REJECTED_USER">{{'DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.APP_REJECTED_USER' | translate}}</mat-option>
      <mat-option value="APP_ERROR_VO_ADMIN">{{'DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.APP_ERROR_VO_ADMIN' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>


  <div *ngIf="mailType === 'APP_REJECTED_USER'">
    {{'DIALOGS.RE_SEND_NOTIFICATION.REASON' | translate}}:
    <mat-form-field class="w-100">
      <textarea matInput [(ngModel)]="reason"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.RE_SEND_NOTIFICATION.CANCEL' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="accent"
    (click)="onSubmit()">
    {{'DIALOGS.RE_SEND_NOTIFICATION.SEND' | translate}}
  </button>
</div>
