<div class="{{theme}}">
  <h1 class="mat-dialog-title">{{'DIALOGS.CREATE_FACILITY.TITLE' | translate}}</h1>
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" class="dialog-container" mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        required
        [formControl]="nameControl"
        placeholder="{{'DIALOGS.CREATE_FACILITY.NAME' | translate}}"
      >
      <mat-error>{{"DIALOGS.CREATE_FACILITY.REQUIRE_NAME" | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [formControl]="descControl"
        placeholder="{{'DIALOGS.CREATE_FACILITY.DESCRIPTION' | translate}}"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-select
        disableOptionCentering="true"
        placeholder="{{ 'DIALOGS.CREATE_FACILITY.AS_COPY' | translate}}">
        <mat-option (click)="srcFacility = null">
          {{'DIALOGS.CREATE_FACILITY.NO_COPY' | translate}}
        </mat-option>
        <mat-option
          (click)="srcFacility = facility"
          *ngFor="let facility of facilities"
          [value]="facility">
          {{facility.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">{{"DIALOGS.CREATE_FACILITY.CANCEL" | translate}}</button>
    <button
      mat-flat-button
      class="ml2"
      [disabled]="nameControl.value.trim().length === 0 || loading"
      (click)="onCreate()"
      color="accent">{{"DIALOGS.CREATE_FACILITY.CREATE" | translate}}</button>
  </div>
</div>

