<div class="card-body">
  <table mat-table [dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear class="w-100">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="static-column-size">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_EMAIL_ID' | translate}}
      </th>
      <td mat-cell  class="static-column-size" *matCellDef="let applicationMail">{{applicationMail.id}}</td>
    </ng-container>
    <ng-container matColumnDef="mailType">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_EMAIL_TYPE' | translate}}
      </th>
      <td mat-cell *matCellDef="let applicationMail">{{getMailType(applicationMail)}}</td>
    </ng-container>
    <ng-container matColumnDef="appType">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_APPLICATION_TYPE' | translate}}
      </th>
      <td mat-cell *matCellDef="let applicationMail">
        <div *ngIf="applicationMail.appType == 'INITIAL'; else extension">
          <mat-icon matTooltip="Initial" matTooltipPosition="above">arrow_right_alt</mat-icon>
          {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_APPLICATION_TYPE_INITIAL' | translate}}
        </div>
        <ng-template #extension>
          <mat-icon matTooltip="Extension" matTooltipPosition="above">cached</mat-icon>
          {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_APPLICATION_TYPE_EXTENSION' | translate}}
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="send">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.TABLE_SENDING_ENABLED' | translate}}
      </th>
      <td mat-cell *matCellDef="let applicationMail">
        <section>
          <mat-checkbox [ngModel]="applicationMail.send"
                        (click)="$event.stopPropagation()"
                        (change)="changeSending(applicationMail)">
          </mat-checkbox>
        </section>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let applicationMail; columns: displayedColumns;"
      (click)="openApplicationMailDetail(applicationMail)"
      class="dark-hover-list-item">
    </tr>
  </table>
  <mat-paginator
    [length]="this.applicationMails.length"
    [pageSize]="pageSize"
    (page)="page.emit($event)"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
