<h1 *ngIf="this.showPrincipal"
    class="page-subtitle">
  {{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.YOU_ARE_MEMBER' | translate}}
</h1>
<h1 *ngIf="!this.showPrincipal"
    class="page-subtitle">
  {{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.USER_IS_MEMBER' | translate}}
</h1>
<perun-web-apps-refresh-button (refresh)="refreshMemberTable()"></perun-web-apps-refresh-button>
<perun-web-apps-immediate-filter
  (filter)="memberFilter($event)"
  [placeholder]="'SHARED_LIB.PERUN.ORGANIZATIONS.FILTER'">
</perun-web-apps-immediate-filter>
<mat-spinner class="ml-auto mr-auto" *ngIf="memberRefresh"></mat-spinner>
<perun-web-apps-groups-list
  *ngIf="!memberRefresh"
  (page)="pageChanged($event)"
  [pageSize]="pageSize"
  [groups]="membersGroups"
  [hideColumns]="['select', 'menu']"
  [disableMembers]="false"
  [filter]="memberFilterValue">
</perun-web-apps-groups-list>

<div class="mt-5" *ngIf="!this.showPrincipal">
  <h1 class="page-subtitle">
    {{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.USER_IS_ADMIN' | translate}}
  </h1>
  <perun-web-apps-refresh-button (refresh)="refreshAdminTable()"></perun-web-apps-refresh-button>
  <perun-web-apps-immediate-filter
    (filter)="adminFilter($event)"
    [placeholder]="'SHARED_LIB.PERUN.ORGANIZATIONS.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="adminRefresh"></mat-spinner>
  <perun-web-apps-groups-list
    *ngIf="!adminRefresh"
    (page)="adminPageChanged($event)"
    [pageSize]="adminPageSize"
    [groups]="adminsGroups"
    [hideColumns]="['select', 'menu']"
    [disableMembers]="false"
    [filter]="adminFilterValue">
  </perun-web-apps-groups-list>
</div>
