<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.DELETE_SPONSORED_USER.TITLE' | translate}}</h1>

  <div mat-dialog-content class="dialog-container">
    <div>
      {{'DIALOGS.DELETE_SPONSORED_USER.DESCRIPTION' | translate}}
    </div>

    <div class="font-weight-bold">
      {{'DIALOGS.DELETE_SPONSORED_USER.ASK' | translate}}
    </div>

    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let member"> {{member.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let member"> {{member.user | userFullName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="font-weight-bolder"></tr>
      <tr mat-row *matRowDef="let member; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.DELETE_SPONSORED_USER.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      (click)="onConfirm()">
      {{'DIALOGS.DELETE_SPONSORED_USER.CREATE' | translate}}
    </button>
  </div>
</div>
