<div>
  <h1 class="page-subtitle">{{ 'MEMBER_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading"
    mat-flat-button
    color="accent"
    (click)="addResource()">
    {{ 'MEMBER_DETAIL.RESOURCES.ADD' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    class="ml-2"
    *ngIf="!loading"
    [placeholder]="'MEMBER_DETAIL.RESOURCES.FILTER'"
  >
  </perun-web-apps-immediate-filter>
  <perun-web-apps-resources-list
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [displayedColumns]="displayedColumns"
    [routingVo]="true"
    [resources]="resources">
  </perun-web-apps-resources-list>
</div>

<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
