<h1 class="page-subtitle">{{'MEMBER_DETAIL.GROUPS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
<button
  *ngIf="!loading && addAuth"
  mat-flat-button
  color="accent"
  (click)="addGroup()"
  class="mr-2">
  {{'MEMBER_DETAIL.GROUPS.ADD' | translate}}
</button>
<button
  *ngIf="!loading && removeAuth"
  mat-flat-button
  color="warn"
  (click)="removeGroup()"
  [disabled]="selection.selected.length === 0 || (list !== undefined && !list.removeAuth)"
  class="mr-2">
  {{'MEMBER_DETAIL.GROUPS.REMOVE' | translate}}
</button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  *ngIf="!loading"
  [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
<perun-web-apps-groups-list
  #list
  [pageSize]="pageSize"
  (page)="pageChanged($event)"
  [groups]="groups"
  [hideColumns]="removeAuth ? [ 'vo', 'menu'] : ['select', 'vo', 'menu']"
  [selection]="selection"
  [filter]="filterValue"
  [disableRouting]="!routeAuth"
  [authType]="'member-groups'"
  *ngIf="!loading">
</perun-web-apps-groups-list>
