<div class="card mt-2" *ngIf="groups.length !== 0">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node class="group-tree-node"
                   *matTreeNodeDef="let group" matTreeNodePadding>            <!--leaf-->
      <div class="group-item-content" [routerLink]="['/organizations', group.voId, 'groups', group.id]">
        <mat-checkbox color="primary"
                      [disabled]="group.fullName === 'members'"
                      class="no-label-margin-bottom ml-4"
                      [checked]="selection.isSelected(group)"
                      (change)="leafItemSelectionToggle(group)"
                      matTreeNodeToggle></mat-checkbox>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <div class="mr-2">
          {{group.name}}
        </div>
        <div class="text-muted">
          #{{group.id}}
        </div>
      </div>
      <perun-web-apps-group-menu
        [disabled]="group.fullName === 'members'"
        (moveGroup)="onMoveGroup(group)"
        [group]="group">
      </perun-web-apps-group-menu>
    </mat-tree-node>

    <mat-tree-node
      class="group-tree-node"
      *matTreeNodeDef="let group;when: hasChild" matTreeNodePadding> <!--parent-->
      <mat-checkbox color="primary" class="no-label-margin-bottom ml-4"
                    [disabled]="group.fullName === 'members'"
                    [checked]="selection.isSelected(group)"
                    [indeterminate]="descendantsPartiallySelected(group)"
                    (change)="itemSelectionToggle(group)"
                    matTreeNodeToggle></mat-checkbox>
      <div class="group-item-content" [routerLink]="['/organizations', group.voId, 'groups', group.id]">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + group.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(group) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="mr-2" >
          {{group.name}}
        </div>
        <div class="text-muted">
          #{{group.id}}
        </div>
      </div>
      <perun-web-apps-group-menu
        [disabled]="group.fullName === 'members'"
        (moveGroup)="onMoveGroup(group)"
        [group]="group">
      </perun-web-apps-group-menu>
    </mat-tree-node>
  </mat-tree>
</div>

<app-alert *ngIf="groups.length === 0" color="warn">
  {{'VO_DETAIL.GROUPS.NO_GROUPS' | translate}}
</app-alert>
