<div>
  <h1 class="page-subtitle">{{'ADMIN.ATTRIBUTES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button (click)="onCreate()" color="accent" class="mr-2">
    {{'ADMIN.ATTRIBUTES.CREATE' | translate}}
  </button>
  <button mat-flat-button color="warn" (click)="onDelete()" class="mr-2" [disabled]="selected.selected.length === 0">
    {{'ADMIN.ATTRIBUTES.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    [placeholder]="'ADMIN.ATTRIBUTES.SEARCH'"
    (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-attr-def-list
    *ngIf="!loading"
    [definitions]="attrDefinitions"
    [selection]="selected"
    [filterValue]="filterValue"
    (refreshEvent)="refreshTable()">
  </app-attr-def-list>
</div>
