<perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="filterMessage | translate"></perun-web-apps-immediate-filter>
<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<app-alert *ngIf="entityValues.length === 0 && !loading" alert_type="warn">{{noEntityMessage | translate}}</app-alert>
<app-alert *ngIf="filteredEntityValues.length === 0 && entityValues.length && !loading" alert_type="warn">{{noFilteredEntityMessage | translate}}</app-alert>
<mat-accordion *ngIf="!loading">
  <mat-expansion-panel *ngFor="let entity of filteredEntityValues" (opened)="getAttributes(entity.id)" (closed)="selection.clear()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{entity.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <button mat-flat-button class="mr-2" color="accent" (click)="onAdd(entity.id)">
        {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.CREATE' | translate}}
      </button>

      <button
        mat-flat-button
        class="mr-2"
        color="accent"
        (click)="onSave(entity.id)"
        [disabled]="selection.selected.length === 0">
        {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.SAVE' | translate}}
      </button>

      <button
        mat-flat-button color="warn"
        (click)="onDelete(entity.id)"
        [disabled]="selection.selected.length === 0">
        {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.DELETE' | translate}}
      </button>
      <mat-spinner class="ml-auto mr-auto" *ngIf="innerLoading"></mat-spinner>
      <perun-web-apps-attributes-list [attributes]="attributes" [selection]="selection" #list *ngIf="!innerLoading"></perun-web-apps-attributes-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

