<h1 class="mb-3" mat-dialog-title>{{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.TITLE'|customTranslate | translate}}</h1>
<div class="user-theme">
  <div>
    <p class="column-size">{{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.RESOURCE'|customTranslate | translate}}</p>
    <p>{{resource}}</p>
  </div>
  <div>
    <p class="column-size">{{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.CURRENT_QUOTA'|customTranslate | translate}}</p>
    <p>{{currentQuota}}</p>
  </div>
  <div fxLayout="row" fxFlexAlign="center center">
    <mat-form-field>
      <label class="label-width">
        <input
          matInput
          required
          type="number"
          placeholder="{{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.REQUESTED_QUOTA'|customTranslate | translate}}"
          [formControl]="newValueControl">
      </label>
    </mat-form-field>
    <mat-select [(value)]="selectedUnit" class="select-width mt-auto mb-auto ml-2">
      <mat-option *ngFor="let unit of units" [value]="selectedUnit">
        {{unit}}
      </mat-option>
    </mat-select>
  </div>
  <div>
    <mat-form-field class="form-width">
      <label class="label-width">
      <textarea
        matInput
        required
        placeholder="{{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.REASON'| customTranslate | translate}}"
        rows="4"
        [formControl]="reasonControl"
      ></textarea>
      </label>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.CANCEL'|customTranslate | translate}}
    </button>
    <button
      class="ml-2"
      mat-flat-button
      color="accent"
      [disabled]="reasonControl.invalid"
      (click)="onSubmit()">
      {{'DIALOGS.REQUEST_DATA_QUOTA_CHANGE.SEND'|customTranslate | translate}}
    </button>
  </div>
</div>
