<div class="user-theme">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <h1 class="page-title">{{'IDENTITIES.IDP' | customTranslate | translate}}</h1>
    <button mat-flat-button color="accent" (click)="addIdentity()">{{'IDENTITIES.ADD' | customTranslate | translate}}</button>
    <button (click)="removeIdentity(idpSelection)" [disabled]="idpSelection.selected.length === 0" class="ml-2" color="warn" mat-flat-button>{{'IDENTITIES.REMOVE' | customTranslate | translate}}</button>
    <perun-web-apps-user-ext-sources-list
      [userExtSources]="idpExtSources"
      [selection]="idpSelection"
      [hideColumns]="hiddenColumns"
    ></perun-web-apps-user-ext-sources-list>

    <h1 class="page-title mt-5">{{'IDENTITIES.CERT' | customTranslate | translate}}</h1>
    <button mat-flat-button color="accent" (click)="addIdentity()">{{'IDENTITIES.ADD' | customTranslate | translate}}</button>
    <button (click)="removeIdentity(certSelection)" [disabled]="certSelection.selected.length === 0" class="ml-2" color="warn" mat-flat-button>{{'IDENTITIES.REMOVE' | customTranslate | translate}}</button>
    <perun-web-apps-user-ext-sources-list
      [userExtSources]="certExtSources"
      [selection]="certSelection"
      [extSourceNameHeader]="extSourceNameCert"
      [loginHeader]="loginCert"
    ></perun-web-apps-user-ext-sources-list>

    <h1 class="page-title mt-5">{{'IDENTITIES.OTHER' | customTranslate | translate}}</h1>
    <button (click)="removeIdentity(otherSelection)" [disabled]="otherSelection.selected.length === 0" class="ml-2" color="warn" mat-flat-button>{{'IDENTITIES.REMOVE' | customTranslate | translate}}</button>
    <perun-web-apps-user-ext-sources-list
      [userExtSources]="otherExtSources"
      [selection]="otherSelection"
      [extSourceNameHeader]="extSourceNameOther"
    ></perun-web-apps-user-ext-sources-list>
  </div>
</div>
