<h3>TITLE</h3>
<button mat-flat-button color="accent" (click)="addIdentity()">ADD</button>
<button mat-flat-button color="warn" class="ml-2" (click)="removeIdentity()">REMOVE</button>

<perun-web-apps-user-ext-sources-list
  [userExtSources]="userExtSources"
  [selection]="selection"
></perun-web-apps-user-ext-sources-list>

<!--<h2 class="mt-3">MY CERTIFICATES</h2>-->
<!--<button mat-flat-button color="accent" (click)="addIdentity()">ADD</button>-->
<!--<button mat-flat-button color="warn" class="ml-2" (click)="removeIdentity()">REMOVE</button>-->
