.entity-menu-item {
  width: 300px;
}

.side-entity-menu a {
  padding: 5px 8px 5px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
}

.side-entity-menu a:hover {
  background: var(--side-link-hover) !important;
}

.root-header-activated {
  background: var(--side-root-item-active) !important;
}

//.side-entity-menu a:hover {
//  background-color: rgba(255, 255, 255, 0.1);
//}

.entity-menu-item-header {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.entity-menu-item-header:hover {
  background: var(--side-root-item-hover) !important;
}

.entity-menu-item-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  &:hover {
    text-decoration: none;
  }
}

.entity-menu-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;

  &:hover {
    text-decoration: none;
  }
}

.entity-menu-item-icon {
  height: 2rem
}
