<div (keyup)="onKeyInput($event)">
  <h1 class="page-subtitle">{{'ADMIN.USERS.TITLE' | translate}}</h1>
  <mat-form-field class="mr-2 search-field no-border-mat-input">
    <label>
      <input matInput
             autocomplete="false"
             placeholder="{{'ADMIN.USERS.SEARCH_PLACEHOLDER' | translate}}"
             [formControl]="searchControl">
    </label>
    <mat-error>
      {{'ADMIN.USERS.EMPTY_SEARCH' | translate }}
    </mat-error>
  </mat-form-field>
  <button mat-flat-button
          color="primary"
          class="mr-2"
          [disabled]="loading"
          (click)="onSearchByString()">
    <mat-icon>search</mat-icon>
  </button>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto">
  </mat-spinner>
  <div *ngIf="!loading">
    <app-users-list
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      [displayedColumns]="['user', 'id', 'name', 'email', 'logins', 'organization']"
      *ngIf="users !== undefined && users.length > 0"
      [users]="users">
    </app-users-list>
    <app-alert *ngIf="!firstSearchDone" [color]="'info'">
      {{'ADMIN.USERS.SEARCH_INFO' | translate}}
    </app-alert>
    <app-alert *ngIf="firstSearchDone && users.length === 0" [color]="'warn'">
      {{'ADMIN.USERS.NO_USERS_FOUND' | translate}}
    </app-alert>
  </div>
</div>
