<h1 class="page-subtitle">{{'FACILITY_DETAIL.SETTINGS.OWNERS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
<button (click)="onCreate()" class="mr-2" color="accent" mat-flat-button>
  {{'FACILITY_DETAIL.SETTINGS.OWNERS.ADD' | translate}}
</button>
<button (click)="onRemove()" [disabled]="selection.selected.length === 0" class="mr-2" color="warn" mat-flat-button>
  {{'FACILITY_DETAIL.SETTINGS.OWNERS.DELETE' | translate}}
</button>
<perun-web-apps-immediate-filter (filter)="applyFilter($event)" *ngIf="!loading" [placeholder]="'VO_MANAGEMENT.FILTER_PLACEHOLDER'"></perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
<app-owners-list *ngIf="!loading" [filterValue]="filterValue" [owners]="owners" [selection]="selection"></app-owners-list>


