<div class="container-fluid pl-xl-5 pr-xl-5 facility-theme">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>

  <h1 class="page-title d-flex">
    <mat-icon
      [ngStyle]="{'color':'black'}"
      svgIcon='perun-facility-black'
      class="perun-icon icon-scale">
    </mat-icon>
    {{'FACILITY_MANAGEMENT.TITLE' | translate}}
  </h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading"
    mat-flat-button
    (click)="onCreate()"
    color="accent">{{'FACILITY_MANAGEMENT.CREATE' | translate}}</button>
  <button
    *ngIf="!loading"
    mat-flat-button
    class="ml-2"
    [disabled]="selection.selected.length === 0"
    (click)="onDelete()"
    color="warn">{{'FACILITY_MANAGEMENT.DELETE' | translate}}</button>
  <perun-web-apps-immediate-filter (filter)="applyFilter($event)" *ngIf="!loading" [placeholder]="'FACILITY_MANAGEMENT.FILTER_PLACEHOLDER'"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-facility-select-table
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
    *ngIf="!loading"
    [selection]="selection"
    [filterValue]="filterValue"
    [facilities]="facilities"
    [recentIds]="recentIds">
  </app-facility-select-table>
</div>
