<div class="container-fluid pl-xl-5 pr-xl-5 facility-theme">
  <app-back-button>
  </app-back-button>

  <h1 class="page-title">{{'FACILITY_MANAGEMENT.TITLE' | translate}}</h1>
  <app-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></app-refresh-button>
  <app-immediate-filter [placeholder]="'FACILITY_MANAGEMENT.FILTER_PLACEHOLDER'" (filter)="applyFilter($event)" *ngIf="!loading"></app-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-facility-select-table
    *ngIf="!loading"
    [filterValue]="filterValue"
    [facilities]="facilities"
    [recentIds]="recentIds">
  </app-facility-select-table>
</div>
