<div class="container-fluid pl-xl-5 pr-xl-5 facility-theme">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>

  <h1 class="page-title">{{'FACILITY_MANAGEMENT.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
  <perun-web-apps-immediate-filter (filter)="applyFilter($event)" *ngIf="!loading" [placeholder]="'FACILITY_MANAGEMENT.FILTER_PLACEHOLDER'"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-facility-select-table
    *ngIf="!loading"
    [filterValue]="filterValue"
    [facilities]="facilities"
    [recentIds]="recentIds">
  </app-facility-select-table>
</div>
