<app-refresh-button (refresh)="refreshTable()"></app-refresh-button>

<h1 class="page-subtitle pt-2">{{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.MEMBER_GROUPS' | translate}}</h1>

<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <app-groups-list
    [groups]="membersGroups"
    [hideColumns]="['select', 'menu']"
    [inDialog]="false"
    [disableMembers]="false"
  ></app-groups-list>
</div>

<h1 class="page-subtitle pt-5">{{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.ADMINS_GROUPS' | translate}}</h1>

<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <app-groups-list
    [groups]="adminsGroups"
    [hideColumns]="['select', 'menu']"
    [inDialog]="false"
    [disableMembers]="false"
  ></app-groups-list>
</div>
