<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>

<h1 class="page-subtitle pt-2">{{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.MEMBER_GROUPS' | translate}}</h1>

<mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <perun-web-apps-groups-list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    [groups]="membersGroups"
    [hideColumns]="['select', 'menu']"
    [disableMembers]="false"
  ></perun-web-apps-groups-list>
</div>

<div *ngIf="adminsGroups.length != 0">
  <h1 class="page-subtitle pt-5">{{'SHARED.COMPONENTS.USER_DETAIL.GROUPS.ADMINS_GROUPS' | translate}}</h1>

  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <perun-web-apps-groups-list
      (page)="adminPageChanged($event)"
      [pageSize]="adminPageSize"
      [groups]="adminsGroups"
      [hideColumns]="['select', 'menu']"
      [disableMembers]="false"
    ></perun-web-apps-groups-list>
  </div>
</div>
