<div class="container-fluid pl-xl-5 pr-xl-5 user-theme" *ngIf="user !== undefined">
  <h1 class="page-title">
    {{'USER_DETAIL.OVERVIEW.TITLE' | translate}}
  </h1>
  <div class="dashboard-container">
    <div *ngIf="this.adminVo.length !== 0">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon='perun-vo-black' class="cover-image"></mat-icon>
          <mat-card-title>{{'USER_DETAIL.OVERVIEW.MY_VO' | translate}}
            <span matTooltip="{{'USER_DETAIL.OVERVIEW.VO_TOOLTIP_INFO' |translate }}"
                  matTooltipPosition="above">
            <mat-icon class="dashboard-icon">info_outline</mat-icon>
          </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <perun-web-apps-immediate-filter (filter)="this.voFilterValue = $event"
                                           [placeholder]="'USER_DETAIL.OVERVIEW.FILTER'"></perun-web-apps-immediate-filter>
          <perun-web-apps-vo-select-table (page)="pageChanged($event, voTableId, voPageSize)"
                                          [pageSize]="voPageSize"
                                          [displayedColumns]="['id', 'name']"
                                          [recentIds]="[]"
                                          [vos]="this.adminVo"
                                          [filterValue]="voFilterValue">
          </perun-web-apps-vo-select-table>

        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="this.adminGroup.length !== 0">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon='perun-group-black' class="cover-image"></mat-icon>
          <mat-card-title>{{'USER_DETAIL.OVERVIEW.MY_GROUPS' | translate}}
            <span matTooltip="{{'USER_DETAIL.OVERVIEW.GROUPS_TOOLTIP_INFO' |translate }}"
                  matTooltipPosition="above">
            <mat-icon class="dashboard-icon">info_outline</mat-icon>
          </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <perun-web-apps-immediate-filter (filter)="this.groupFilterValue = $event"
                                           [placeholder]="'USER_DETAIL.OVERVIEW.FILTER'"></perun-web-apps-immediate-filter>
          <perun-web-apps-groups-list (page)="pageChanged($event, groupTableId, groupPageSize)"
                                      [pageSize]="groupPageSize"
                                      [groups]="this.adminGroup"
                                      [hideColumns]="['select', 'menu']"
                                      [filter]="groupFilterValue">
          </perun-web-apps-groups-list>
        </mat-card-content>
      </mat-card>
    </div>


    <div *ngIf="this.adminFacility.length !== 0">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon='perun-facility-black' class="cover-image"></mat-icon>
          <mat-card-title>{{'USER_DETAIL.OVERVIEW.MY_FACILITIES' | translate}}
            <span matTooltip="{{'USER_DETAIL.OVERVIEW.FACILITIES_TOOLTIP_INFO' |translate }}"
                  matTooltipPosition="above">
            <mat-icon class="dashboard-icon">info_outline</mat-icon>
          </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <perun-web-apps-immediate-filter (filter)="this.facilityFilterValue = $event"
                                           [placeholder]="'USER_DETAIL.OVERVIEW.FILTER'"></perun-web-apps-immediate-filter>
          <app-facility-select-table (page)="pageChanged($event, facilityTableId, facilityPageSize)"
                                     [pageSize]="facilityPageSize"
                                     [facilities]="this.adminFacility"
                                     [displayedColumns]="['id', 'name']"
                                     [filterValue]="facilityFilterValue">
          </app-facility-select-table>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="this.adminResource.length !== 0">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon='perun-resource-black' class="cover-image"></mat-icon>
          <mat-card-title>{{'USER_DETAIL.OVERVIEW.MY_RESOURCES' | translate}}
            <span matTooltip="{{'USER_DETAIL.OVERVIEW.RESOURCES_TOOLTIP_INFO' |translate }}"
                  matTooltipPosition="above">
            <mat-icon class="dashboard-icon">info_outline</mat-icon>
          </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <perun-web-apps-immediate-filter (filter)="this.resourceFilterValue = $event"
                                           [placeholder]="'USER_DETAIL.OVERVIEW.FILTER'"></perun-web-apps-immediate-filter>
          <perun-web-apps-resources-list (page)="pageChanged($event, resourceTableId, resourcePageSize)"
                                         [pageSize]="resourcePageSize"
                                         [resources]="this.adminResource"
                                         [displayedColumns]="['id', 'name']"
                                         [routingVo]="true"
                                         [filterValue]="resourceFilterValue">
          </perun-web-apps-resources-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

