<div class="container-fluid pt-4">
  <div class="graph-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Perun repository</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <perun-web-apps-repository-commits
          [repoName]="'perun'"
          [repoOwner]="'CESNET'"
          [daysBack]="14">
        </perun-web-apps-repository-commits>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Perun-web-apps repository</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <perun-web-apps-repository-commits
          [repoName]="'perun-web-apps'"
          [repoOwner]="'CESNET'"
          [daysBack]="14">
        </perun-web-apps-repository-commits>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let id of graphanaIds">
      <mat-card-header>
        <mat-card-title>Jednotne prihlaseni</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <perun-web-apps-graphana-graph
          [panelId]="id">
        </perun-web-apps-graphana-graph>
      </mat-card-content>
    </mat-card>
  </div>
</div>
