<div class="card mt-2">
  <div class="card-body table-theme" *ngIf="members !== null && members !== undefined">
    <table
      class="w-100"
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="fullName"
      matSortDirection="asc"
      matSortDisableClear>
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let memberCandidate" class="static-column-size">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(memberCandidate) : null"
                        [checked]="selection.isSelected(memberCandidate)"
                        [aria-label]="checkboxLabel(memberCandidate)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEMBERS_CANDIDATES_LIST.NAME' | translate}}</th>
        <td mat-cell *matCellDef="let memberCandidate">{{memberCandidate.richUser | userFullName}}</td>
      </ng-container>
      <ng-container matColumnDef="voExtSource">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEMBERS_CANDIDATES_LIST.ORGANIZATION' | translate}}</th>
        <td mat-cell *matCellDef="let memberCandidate">{{memberCandidate.richUser | userVo}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEMBERS_CANDIDATES_LIST.EMAIL' | translate}}</th>
        <td mat-cell *matCellDef="let memberCandidate">{{memberCandidate | memberCandidateEmail}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let memberCandidate; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [length]="this.members.length" [pageSize]="10" [pageSizeOptions]="[5,10,25]"></mat-paginator>
  </div>
</div>
