<div class="container-fluid pl-xl-5 pr-xl-5 vo-theme" *ngIf="vo !== undefined">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>
  <div class="d-flex page-title">
    <mat-icon
      matTooltip="{{'VO_DETAIL.ENTITY' | translate}}"
      [ngStyle]="{'color':'black'}"
      svgIcon='perun-vo-black'
      class="perun-icon perun-icon-detail">
    </mat-icon>
    <div class="page-title-block">
      <div class="page-title-headline d-flex align-items-center">
          <a class="vo-link" [routerLink]="['/organizations/', vo.id]">
            {{vo.name}}
          </a>
          <span class="text-muted">
          &nbsp;#{{vo.id}}
          </span>
        <button
          *ngIf="editAuth"
          mat-icon-button
          aria-label="Edit Vo"
          (click)="editVo()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <span class="text-muted mt-1 entity-info">
        {{'VO_DETAIL.ENTITY' | translate}},
        {{'VO_DETAIL.SHORT_NAME' | translate}}: {{vo.shortName}}
      </span>
    </div>
  </div>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>

