<h1 class="page-title">{{'SAMBA_PASSWORD.TITLE' | customTranslate | translate}}</h1>
<app-alert *ngIf="!sambaExists">
  {{'ALERTS.NO_SAMBA'|customTranslate | translate}}
</app-alert>
<app-alert *ngIf="sambaExists">
  {{'ALERTS.SAMBA_EXISTS'|customTranslate | translate}}
</app-alert>

<mat-form-field class="input-width">
  <label class="input-width">
    <input
      [formControl]="sambaControl"
      [type]="showPassword ? 'text': 'password'"
      matInput
      placeholder="{{'SAMBA_PASSWORD.INPUT_PLACEHOLDER'|customTranslate | translate}}"
    >
  </label>
</mat-form-field>
<button (click)="showPassword = !showPassword" [matTooltip]="showPassword ? hidePwdTooltip : showPwdTooltip" disableRipple mat-icon-button>
  <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
</button>
<button (click)="setSambaPassword()" [disabled]="sambaControl.value.length === 0 || sambaControl.invalid" color="accent"
        mat-flat-button>{{'SAMBA_PASSWORD.SET_PASSWORD'|customTranslate | translate}}</button>

<app-error *ngIf="sambaControl.invalid">
  {{'SAMBA_PASSWORD.PASSWORD_VALIDATION' | customTranslate | translate}}
</app-error>
