<app-alert *ngIf="!sambaExists" color="warn">
  {{'ALERTS.NO_SAMBA'|translate}}
</app-alert>
<app-alert *ngIf="sambaExists" color="warn">
  {{'ALERTS.SAMBA_EXISTS'|translate}}
</app-alert>

<mat-form-field class="input-width">
  <label class="input-width">
      <input
        matInput
        type="password"
        placeholder="{{'SAMBA_PASSWORD.INPUT_PLACEHOLDER'|translate}}"
        [formControl]="sambaControl"
      >
  </label>
</mat-form-field>

<button mat-flat-button [disabled]="!sambaControl.valid" color="accent" (click)="setSambaPassword()">{{'SAMBA_PASSWORD.SET_PASSWORD'|translate}}</button>
