<h3>{{'SAMBA_PASSWORD.TITLE' | customTranslate | translate}}</h3>
<app-alert *ngIf="!sambaExists" color="warn">
  {{'ALERTS.NO_SAMBA'|customTranslate | translate}}
</app-alert>
<app-alert *ngIf="sambaExists" color="warn">
  {{'ALERTS.SAMBA_EXISTS'|customTranslate | translate}}
</app-alert>

<mat-form-field class="input-width">
  <label class="input-width">
      <input
        matInput
        type="password"
        placeholder="{{'SAMBA_PASSWORD.INPUT_PLACEHOLDER'|customTranslate | translate}}"
        [formControl]="sambaControl"
      >
  </label>
</mat-form-field>

<button mat-flat-button [disabled]="!sambaControl.valid" color="accent" (click)="setSambaPassword()">{{'SAMBA_PASSWORD.SET_PASSWORD'|customTranslate | translate}}</button>
