<h1 mat-dialog-title>{{'DIALOGS.REMOVE_OWNERS.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <p>
      {{'DIALOGS.REMOVE_OWNERS.DESCRIPTION' | translate}}
    </p>

    <div class="font-weight-bold">
      {{'DIALOGS.REMOVE_OWNERS.ASK' | translate}}
    </div>

    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let owner" mat-cell> {{owner.name}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" class="font-weight-bolder" mat-header-row></tr>
      <tr *matRowDef="let owner; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <div mat-dialog-actions>
    <button
      (click)="onCancel()"
      class="ml-auto"
      mat-flat-button>
      {{'DIALOGS.REMOVE_OWNERS.CANCEL' | translate}}
    </button>
    <button
      [disabled]="loading"
      (click)="onSubmit()"
      class="ml-2"
      color="warn"
      mat-flat-button>
      {{'DIALOGS.REMOVE_OWNERS.DELETE' | translate}}
    </button>
  </div>
</div>

