.items-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  margin: 0 -8px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
  }
}

.item-pic {
  color: currentColor;
  transform: scale(4);
  height: 96px;
  margin-bottom: 22px;
}

.item-itself-container {
  margin: 8px;
}

.item-itself {
  text-align: center;
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;

  &:hover {
    text-decoration: none;
  }
  & img {
    height: 120px;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    min-height: 150px;
    padding: 10px;
    & img {
      height: 80px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {

}
