<h1 mat-dialog-title>{{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <div mat-dialog-content>
    <p>{{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.DESCRIPTION' | translate}}</p>
    <div class="font-weight-bold">
      {{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.ASK' | translate}}
    </div>
    <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
    <table
      *ngIf="!loading"
      mat-table
      [dataSource]="dataSource"
      class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let attrDefinition"> {{attrDefinition.friendlyName}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="font-weight-bolder"></tr>
      <tr mat-row *matRowDef="let attrDefinition; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div
    *ngIf="!loading"
    mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.CANCEL' | translate}}</button>
    <button
      mat-flat-button
      class="ml-2"
      color="warn"
      (click)="onConfirm()">
      {{'DIALOGS.REMOVE_REQUIRED_ATTRIBUTES.REMOVE' | translate}}</button>
  </div>
</div>
