<div class="card mt-2 w-100" [class.hide-table]="loading" [hidden]="this.table.length === 0 || (dataSource ? dataSource.filteredData.length === 0 : false)">
  <div class="card-body table-theme">
    <perun-web-apps-table-options (end)="loading = false" (start)="loading = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_ID' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let application">{{application['id']}}</td>
        </ng-container>
        <ng-container matColumnDef="voId">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_VO_ID' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let application">{{application['vo'].id}}</td>
        </ng-container>
        <ng-container matColumnDef="voName">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_VO_NAME' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let application">{{application['vo'].name}}</td>
        </ng-container>
        <ng-container matColumnDef="groupId">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_GROUP_ID' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let application">{{application.group ? application.group.id : '' }}</td>
        </ng-container>
        <ng-container matColumnDef="groupName">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_GROUP_NAME' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let application">{{application.group ? application.group.name : '' }}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_TYPE' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.type}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_STATE' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.state}}</td>
        </ng-container>
        <ng-container matColumnDef="extSourceName">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_EXTSOURCENAME' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.extSourceName}}</td>
        </ng-container>
        <ng-container matColumnDef="extSourceType">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_EXTSOURCETYPE' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.extSourceType}}</td>
        </ng-container>
        <ng-container matColumnDef="extSourceLoa">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_LOA' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.extSourceLoa}}</td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_USER' | translate}}</th>
          <td mat-cell *matCellDef="let application">
              {{application.user ? (application.user | userFullName) : 'null'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_CREATED_BY' | translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{application.createdBy.slice(application.createdBy.lastIndexOf('=')+1, application.createdBy.length)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_CREATED_DATE' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.createdAt | date}}</td>
        </ng-container>
        <ng-container matColumnDef="modifiedBy">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_MODIFIED_BY' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{getFriendlyName(application.modifiedBy)}}</td>
        </ng-container>
        <ng-container matColumnDef="modifiedAt">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_MODIFIED_AT' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.modifiedAt | date}}</td>
        </ng-container>

        <ng-container *ngFor="let disCol of addedColumns; let colIndex = index" [matColumnDef]="disCol">
          <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
          <td mat-cell *matCellDef="let application">{{application[disCol]}}</td>
        </ng-container>

        <ng-container matColumnDef="fedInfo">
          <th mat-header-cell *matHeaderCellDef >{{'VO_DETAIL.APPLICATION.TABLE_FEDINFO' | translate}}</th>
          <td mat-cell *matCellDef="let application">{{application.fedInfo}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let application; columns: displayedColumns;"
          (click)="selectApplication(application)"
          class="dark-hover-list-item">
        </tr>
      </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>


<div *ngIf="!loading">
  <app-alert *ngIf="this.dataSource.data.length === 0" color="warn">
    {{'VO_DETAIL.APPLICATION.NO_APPLICATION_FOUND' | translate}}
  </app-alert>

  <app-alert *ngIf="dataSource.filteredData.length === 0 && table.length !== 0" color="warn">
    {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
  </app-alert>

</div>
