<div id="progress">
  <div id="steps-container">
    <h2 class="mat-title">
      Steps:
    </h2>
    <div id="steps">
      <div class="step-line"><mat-icon class="success-icon">check</mat-icon><span class="step-label">Sign in with known (already registered) id.</span></div>
      <div class="step-line"><mat-icon class="success-icon">check</mat-icon><span class="step-label">Sign in with unknown id.</span></div>
      <div class="step-line"><mat-icon class="failure-icon">close</mat-icon><span class="step-label">Join identities.</span></div>
    </div>
  </div>
</div>
<div id="controls">
  <button mat-raised-button id="add-identity-button" (click)="addIdentity()">
    <mat-icon>add</mat-icon>
    Add identity
  </button>
  <button mat-raised-button id="join-button" color="accent" [disabled]="true">
    <mat-icon>compare_arrows</mat-icon>
    Join identities
  </button>
</div>
<div id="identities">
  <perun-web-apps-identities
    [title]="'KNOWN_IDENTITIES'"
    [identities]="knownIdentities">

  </perun-web-apps-identities>
<!--  <perun-web-apps-identities-->
<!--    [title]="'UNKNOWN_IDENTITIES'"-->
<!--    [identities]="unknownIdentities">-->
<!---->
<!--  </perun-web-apps-identities>-->
</div>

