<div id="progress">
  <div id="steps-container">
    <h2 class="mat-title">
      Steps:
    </h2>
    <div id="steps">
      <div class="step-line"><mat-icon class="success-icon">{{perunIdentitiesLoaded ? 'check' : ''}}</mat-icon><span class="step-label">{{'HOME.PERUN_STEP' | translate}}</span></div>
      <div class="step-line"><mat-icon class="success-icon">{{newIdentitiesLoaded ? 'check' : ''}}</mat-icon><span class="step-label">{{'HOME.NEW_STEP' | translate}}</span></div>
      <div class="step-line"><mat-icon></mat-icon><span class="step-label">Join identities.</span></div>
    </div>
  </div>
</div>
<div id="controls">
  <button mat-raised-button id="add-identity-button" (click)="addIdentity()" color="{{(perunIdentitiesLoaded && newIdentitiesLoaded) ? undefined : 'accent'}}">
    {{'HOME.ADD_IDENTITY' | translate}}
  </button>
  <button *ngIf="perunIdentitiesLoaded && newIdentitiesLoaded" mat-raised-button id="join-button" color="accent" [disabled]="true">
    {{'HOME.LINK_IDENTITIES' | translate}}
  </button>
</div>
<div id="identities">
  <perun-web-apps-identities
    [title]="'KNOWN_IDENTITIES'"
    [identities]="knownIdentities">

  </perun-web-apps-identities>
<!--  <perun-web-apps-identities-->
<!--    [title]="'UNKNOWN_IDENTITIES'"-->
<!--    [identities]="unknownIdentities">-->
<!---->
<!--  </perun-web-apps-identities>-->
</div>
