#nav-menu-user-info {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  align-items: center;
  padding-right: 16px;
}

#nav-menu-icons {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  width: 270px;
}

#nav-link-items {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  align-items: center;
  & a {
    padding: 0 1rem;
    line-height: 64px;
    text-align: center;
    height: 64px;
    display: block;
  }
}

.nav-menu-icon {
  padding: 16px 8px;

  img {
    height: 32px;
  }
}
