#nav-menu-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 16px;
}

#nav-menu-icons {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  width: 270px;
}

.logo-container ::slotted(svg) {
  height: 56px;
}
#nav-link-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  & a {
    padding: 0 1rem;
    line-height: 64px;
    text-align: center;
    height: 64px;
    display: block;
  }
}
