<div id="nav-menu-icons">
  <button mat-icon-button
          class="mr-2 text-white mt-auto mb-auto d-block d-md-none"
          (click)="sideNav.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <a class="nav-menu-icon" [routerLink]="['/']">
    <img src="assets/img/PerunWebImages/perun_logo-white.svg" alt="Home">
  </a>
</div>
<div *ngIf="principal !== undefined" id="nav-menu-user-info" [routerLink]="['/profile']">
  <mat-icon>
    person
  </mat-icon>
  <div>
    {{principal.user.titleBefore}}
    {{principal.user.firstName}}
    {{principal.user.middleName}}
    {{principal.user.lastName}}
    {{principal.user.titleAfter}}
  </div>
</div>
