<div id="nav-menu-icons" [ngStyle]="{'color': navTextColor}">
  <button mat-icon-button
          class="mr-2 mt-auto mb-auto"
          (click)="sideNav.toggle()">
    <mat-icon [ngStyle]="{'color': iconColor}">
      menu
    </mat-icon>
  </button>
  <a [routerLink]="['/']"
     [ngStyle]="{'padding': logoPadding}">
    <div [innerHTML]="logo"
         #logoContainer
         class="logo-container"
         [ngStyle]="{'height': '56px'}">
    </div>
  </a>
</div>

<div id="nav-menu-user-info" [ngStyle]="{'color': navTextColor}">
  <button mat-icon-button (click)="showNotificationHistory()" [matTooltip]="'NAV.NOTIFICATIONS_TOOLTIP'|translate">
    <mat-icon [ngStyle]="{'color': iconColor}"
              matBadge="{{getNewNotificationsCount() > 5 ? '5+' : getNewNotificationsCount()}}"
              matBadgeColor="warn"
              [matBadgeHidden]="getNewNotificationsCount() === 0">
      {{getNewNotificationsCount() ? 'notifications_active' : 'notifications'}}
    </mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon [ngStyle]="{'color': iconColor}">
      person
    </mat-icon>
    <span class="d-none d-lg-inline">
    {{principal.user.titleBefore}}
    {{principal.user.firstName}}
    {{principal.user.middleName}}
    {{principal.user.lastName}}
    {{principal.user.titleAfter}}
    </span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="logoutEnabled" (click)="onLogOut()">{{'NAV.LOGOUT' | translate}}</button>
    <button mat-menu-item [routerLink]="['/profile']">{{'NAV.PROFILE' | translate}}</button>
  </mat-menu>
</div>
