<h1 mat-dialog-title>{{'DIALOGS.REMOVE_DESTINATIONS.TITLE' | translate}}</h1>
<div class="{{theme}}">
  <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
  <div *ngIf="!loading" mat-dialog-content>
    <app-alert [color]="'warn'">{{'DIALOGS.REMOVE_DESTINATIONS.WARNING' | translate}}</app-alert>
    <p>{{'DIALOGS.REMOVE_DESTINATIONS.DESCRIPTION' | translate}}</p>
    <div class="font-weight-bold">
      {{'DIALOGS.REMOVE_DESTINATIONS.ASK' | translate}}
    </div>
    <app-perun-web-apps-destination-list
      *ngIf="!loading"
      [destinations]="destinations"
      [displayedColumns]="displayedColumns">
    </app-perun-web-apps-destination-list>

  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.REMOVE_DESTINATIONS.CANCEL' | translate}}</button>
    <button
      mat-flat-button
      class="ml-2"
      color="warn"
      [disabled]="loading"
      (click)="onConfirm()">
      {{'DIALOGS.REMOVE_DESTINATIONS.CONFIRM' | translate}}</button>
  </div>
</div>

