<div class="{{data.theme}}">

  <h1 mat-dialog-title>{{'DIALOGS.REMOVE_DESTINATIONS.TITLE' | translate}}</h1>
  <div mat-dialog-content>
    <app-alert
      [color]="'warn'">{{'DIALOGS.REMOVE_DESTINATIONS.WARNING' | translate}}</app-alert>
    <p>
      {{'DIALOGS.REMOVE_DESTINATIONS.DESCRIPTION' | translate}}
    </p>

    <div class="font-weight-bold">
      {{'DIALOGS.REMOVE_DESTINATIONS.ASK' | translate}}
    </div>

    <app-perun-web-apps-destination-list
      [pageSize]="pageSize"
      (page)="pageChanged($event)"
      [destinations]="this.data.destinations"
      [filterValue]="''"
      [displayedColumns]="displayedColumns">
    </app-perun-web-apps-destination-list>

  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.REMOVE_DESTINATIONS.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="warn"
      (click)="onSubmit()">
      {{'DIALOGS.REMOVE_DESTINATIONS.DELETE' | translate}}
    </button>
  </div>
</div>
