<div class="{{data.style}}">
  <div mat-dialog-title>
    <h1 class="page-subtitle">{{'DIALOGS.CREATE_ATTRIBUTE.SET_NEW' | translate}}</h1>
    <perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"
                                     class="font-size-1rem"></perun-web-apps-immediate-filter>
    <app-alert class="ml-3 font-size-1rem" *ngIf="showError" color="error">
      {{'DIALOGS.CREATE_ATTRIBUTE.ERROR_EMPTY_VALUE' | translate}}
    </app-alert>
  </div>
  <div mat-dialog-content>
    <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
    <perun-web-apps-attributes-list
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      *ngIf="attributes !== undefined && !loading"
      #list
      [filterValue]="filterValue"
      [attributes]="attributes"
      [selection]="selected"
      [inDialog]="true">
    </perun-web-apps-attributes-list>
  </div>
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      class="ml-auto"
      (click)="onCancel()">
      {{'DIALOGS.CREATE_ATTRIBUTE.CANCEL' | translate}}
    </button>

    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      (click)="onSave()"
      [disabled]="selected.selected.length === 0">
      {{'DIALOGS.CREATE_ATTRIBUTE.SAVE' | translate}}
    </button>
  </div>
</div>
