<div class="{{data.style}}">
  <div mat-dialog-title>
    <h1 class="page-subtitle">{{'DIALOGS.CREATE_ATTRIBUTE.SET_NEW' | translate}}</h1>
    <perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"
                                     class="font-size-1rem"></perun-web-apps-immediate-filter>
    <app-alert *ngIf="showError" class="ml-3 font-size-1rem" alert_type="error">
      {{'DIALOGS.CREATE_ATTRIBUTE.ERROR_EMPTY_VALUE' | translate}}
    </app-alert>
  </div>
  <div mat-dialog-content>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <perun-web-apps-attributes-list
      #list
      (page)="pageChanged($event)"
      *ngIf="attributes !== undefined && !loading"
      [attributes]="attributes"
      [filterValue]="filterValue"
      [inDialog]="true"
      [pageSize]="pageSize"
      [selection]="selected">
    </perun-web-apps-attributes-list>
  </div>
  <div mat-dialog-actions>
    <button
      (click)="onCancel()"
      class="ml-auto"
      mat-flat-button>
      {{'DIALOGS.CREATE_ATTRIBUTE.CANCEL' | translate}}
    </button>

    <button
      (click)="onSave()"
      [disabled]="selected.selected.length === 0"
      class="ml-2"
      color="accent"
      mat-flat-button>
      {{'DIALOGS.CREATE_ATTRIBUTE.SAVE' | translate}}
    </button>
  </div>
</div>
