<div class="ml-3">
  <h1 class="page-title">{{'ALT_PASSWORDS.TITLE_GENERATE'|customTranslate | translate}}</h1>
  <mat-form-field class="input-width">
    <label class="input-width">
      <input
        matInput
        type="text"
        placeholder="{{'ALT_PASSWORDS.INPUT_PLACEHOLDER'|customTranslate | translate}}"
        [formControl]="altPasswordCtrl"
      >
    </label>
  </mat-form-field>

  <button mat-flat-button [disabled]="!altPasswordCtrl.valid || alreadyContainsValue(altPasswordCtrl.value)"
          color="accent" class="ml-2" (click)="createPassword()">{{'ALT_PASSWORDS.GENERATE'|customTranslate | translate}}</button>
  <app-alert color="info">{{'ALT_PASSWORDS.EXAMPLE_DESCRIPTIONS'|customTranslate | translate}}</app-alert>

  <h1 class="page-subtitle">{{'ALT_PASSWORDS.TITLE_PASSWORDS'|customTranslate | translate}}</h1>
  <button mat-flat-button [disabled]="selection.isEmpty()" color="warn"
          (click)="removeAltPasswords()">{{'ALT_PASSWORDS.REMOVE'|customTranslate | translate}}</button>
  <perun-web-apps-string-list
    *ngIf="!loading"
    [values]="displayedValues"
    [selection]="selection"
    [alertText]="alertText"
    [headerColumnText]="headerColumnText
"></perun-web-apps-string-list>

  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
</div>
