<div class="card mt-2" [class.hide-table]="exporting" [hidden]="!values.length">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table #exporter="matTableExporter" [dataSource]="dataSource" class="w-100" mat-table matTableExporter>
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
          </th>
          <td *matCellDef="let row" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th *matHeaderCellDef class="pl-3" mat-header-cell>{{headerColumnText}}</th>
          <td *matCellDef="let value" class="truncate pl-3" mat-cell>{{value}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let key; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator [length]="this.values.length" [pageSize]="this.pageSize" [pageSizeOptions]="[5,10,25]"></mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="values.length === 0" color="warn">
  {{alertText}}
</app-alert>
