<div class="mt-3" [hidden]="this.services === undefined || this.services.length === 0">
  <div>
    <div class="overflow-auto">
      <table [dataSource]="dataSource" class="w-100" mat-table matSort matSortActive="id" matSortDirection="asc"
             matSortDisableClear>

        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let service" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(service) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(service)"
                          [checked]="selection.isSelected(service)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.SERVICES_LIST.ID' | translate}}</th>
          <td *matCellDef="let service" class="static-column-size" mat-cell>{{service.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.SERVICES_LIST.NAME' | translate}}</th>
          <td *matCellDef="let service" mat-cell>{{service.name}}</td>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <th *matHeaderCellDef mat-header-cell>{{'SHARED.COMPONENTS.SERVICES_LIST.ENABLED' | translate}}</th>
          <td *matCellDef="let service" mat-cell>{{service.enabled}}</td>
        </ng-container>
        <ng-container matColumnDef="script">
          <th *matHeaderCellDef mat-header-cell>{{'SHARED.COMPONENTS.SERVICES_LIST.SCRIPT' | translate}}</th>
          <td *matCellDef="let service" mat-cell>{{service.script}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.SERVICES_LIST.DESCRIPTION' | translate}}</th>
          <td *matCellDef="let service" mat-cell>{{service.description}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let service; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

  </div>
</div>

<div *ngIf="this.services === undefined || this.services.length === 0" class="perun-alert warn-alert">
  {{'SHARED.COMPONENTS.SERVICES_LIST.NO_SERVICES_WARNING' | translate}}
</div>
