<h1 class="page-subtitle">{{'RESOURCE_DETAIL.ASSIGNED_MEMBERS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button
  (refresh)="refreshTable()"
  *ngIf="!loading">
</perun-web-apps-refresh-button>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  *ngIf="!loading"
  [placeholder]="'RESOURCE_DETAIL.ASSIGNED_MEMBERS.FILTER'">
</perun-web-apps-immediate-filter>
<mat-spinner
  *ngIf="loading"
  class="ml-auto mr-auto">
</mat-spinner>
<perun-web-apps-members-list
  (page)="pageChanged($event)"
  (updateTable)="refreshTable()"
  *ngIf="!loading"
  [disableRouting]="!routeAuth"
  [filter]="filterValue"
  [hideColumns]="['checkbox', 'email', 'status', 'organization', 'logins']"
  [members]="members"
  [pageSize]="pageSize">
</perun-web-apps-members-list>
