<h1 mat-dialog-title>{{'DIALOGS.ADD_UNIX_GROUP.TITLE'|customTranslate | translate}}</h1>
<div class="user-theme">
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <div mat-dialog-content class="dialog-container">
      <mat-form-field class="w-100">
        <label class="w-100">
          <input
            matInput
            required
            class="w-100"
            [formControl]="inputControl"
          >
        </label>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button
        mat-flat-button
        class="ml-auto"
        (click)="onCancel()">
        {{'DIALOGS.ADD_UNIX_GROUP.CANCEL'|customTranslate | translate}}
      </button>
      <button
        mat-flat-button
        class="ml-2"
        color="accent"
        [disabled]="!inputControl.valid || groups.includes(inputControl.value)"
        (click)="onSubmit()">
        {{'DIALOGS.ADD_UNIX_GROUP.ADD'|customTranslate | translate}}
      </button>
    </div>
  </div>
</div>
