<div class="card mt-3" [hidden]="dataSource.filteredData.length === 0">
  <div class="card-body">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
           class="w-100">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let attribute" class="static-column-size">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(attribute) : null"
                        [checked]="selection.isSelected(attribute)"
                        [aria-label]="checkboxLabel(attribute)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.ATTRIBUTES_LIST.ID' | translate}}</th>
        <td mat-cell class="static-column-size" *matCellDef="let attribute">{{attribute.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'SHARED.COMPONENTS.ATTRIBUTES_LIST.NAME' | translate}}</th>
        <td mat-cell *matCellDef="let attribute">{{attribute.displayName}}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.ATTRIBUTES_LIST.VALUE' | translate}}</th>
        <td mat-cell *matCellDef="let attribute">
          <app-attribute-value
            [attribute]="attribute"
            (sendEventToParent2)="onValueChange(attribute)"
          >
          </app-attribute-value>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{'SHARED.COMPONENTS.ATTRIBUTES_LIST.DESCRIPTION' | translate}}</th>
        <td mat-cell *matCellDef="let attribute">{{attribute.description}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let attribute; columns: displayedColumns;"
        class="dark-hover-list-item">
      </tr>
    </table>
    <mat-paginator [length]="this.attributes.length" [pageSize]="10" [pageSizeOptions]="[5,10,25]"></mat-paginator>
  </div>
</div>

<div *ngIf="dataSource.filteredData.length === 0" class="perun-alert warn-alert">
  {{'SHARED.COMPONENTS.NO_FILTER_RESULTS_ALERT' | translate}}
</div>

