<h1 class="page-subtitle">{{'VO_DETAIL.RESOURCES.TAGS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="updateData()"></perun-web-apps-refresh-button>
<button
  mat-flat-button
  class="mr-2"
  color="accent"
  (click)="create()">
  {{'VO_DETAIL.RESOURCES.TAGS.CREATE_BUTTON' | translate}}
</button>

<button
  mat-flat-button
  color="warn"
  [disabled]="selection.selected.length === 0"
  (click)="deleteTag()">
  {{'VO_DETAIL.RESOURCES.TAGS.DELETE_BUTTON' | translate}}
</button>
<perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'SHARED.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"></perun-web-apps-immediate-filter>

<mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>

<app-resources-tags-list *ngIf="!loading"
  [selection]="selection"
  [resourceTags]="resourceTag"
  [filterValue]="filterValue"
></app-resources-tags-list>
