<div>
  <h1 class="page-subtitle">{{'MENU_ITEMS.FACILITY.ALLOWED_GROUPS' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <mat-form-field>
    <mat-label>{{'FACILITY_DETAIL.ALLOWED_GROUPS.SHOW_VOS_GROUPS' | translate}}</mat-label>
    <mat-select  [(value)]="selected" (selectionChange)="showGroup()">
      <mat-option value="all">{{'FACILITY_DETAIL.ALLOWED_GROUPS.ALL' | translate}}</mat-option>
      <mat-option *ngFor="let vo of vos" [value]="vo.id">
        {{vo.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <perun-web-apps-immediate-filter
    [placeholder]="'FACILITY_DETAIL.ALLOWED_GROUPS.FILTER'"
    (filter)="applyFilter($event)">
  </perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <perun-web-apps-groups-list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    *ngIf="!loading && groupsToShow.length !== 0"
    [hideColumns]="['select', 'menu']"
    [groups] = "groupsToShow"
    [groupsToDisable]="groupsWithoutRouteAuth"
    [filter]="filterValue"
    [disableMembers]="false">
  </perun-web-apps-groups-list>

  <app-alert *ngIf="groupsToShow.length === 0 && !loading" alert_type="warn">
    {{'FACILITY_DETAIL.ALLOWED_GROUPS.NO_GROUPS_ALERT' | translate}}
  </app-alert>

</div>

