<h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.GUI_CONFIG.TITLE' | translate}}</h1>
<div class="col-12 col-lg-6 p-0">
  <mat-form-field class="w-100">
    <mat-label>{{'USER_DETAIL.SETTINGS.GUI_CONFIG.PREF_TABLE_PAGE_SIZE' | translate}}</mat-label>
    <mat-select [(value)]="preferredTablePageSize" (valueChange)="updatePreferredTablePageSize()">
      <mat-option *ngFor="let value of tablePageSizeOptions" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
