<h1 mat-dialog-title>{{'DIALOGS.CHANGE_EMAIL.TITLE'|customTranslate | translate}}</h1>
<div mat-dialog-content class="dialog-container user-theme">
  <app-alert *ngIf="pendingMails.length" color="warn">{{pendingEmailsMessage}}</app-alert>
  <mat-form-field class="w-100">
    <label class="w-100">
      <input
        matInput
        required
        placeholder="{{'DIALOGS.CHANGE_EMAIL.INPUT_PLACEHOLDER'|customTranslate | translate}}"
        [formControl]="emailControl"
      >
    </label>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.CHANGE_EMAIL.CANCEL'|customTranslate | translate}}
  </button>
  <button
    (click)="onSubmit()"
    [disabled]="!emailControl.valid"
    class="ml-2"
    color="accent"
    mat-flat-button>
    {{'DIALOGS.CHANGE_EMAIL.CHANGE'|customTranslate | translate}}
  </button>
</div>
