<h3 mat-dialog-title>{{'DIALOGS.CHANGE_EMAIL.TITLE'|customTranslate | translate}}</h3>
<div mat-dialog-content class="dialog-container user-theme">
  <mat-form-field>
    <label>
      <input
        matInput
        required
        placeholder="{{'DIALOGS.CHANGE_EMAIL.INPUT_PLACEHOLDER'|customTranslate | translate}}"
        [formControl]="emailControl"
      >
    </label>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="ml-auto"
    (click)="onCancel()">
    {{'DIALOGS.CHANGE_EMAIL.CANCEL'|customTranslate | translate}}
  </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      [disabled]="!emailControl.valid"
      (click)="onSubmit()">
      {{'DIALOGS.CHANGE_EMAIL.CHANGE'|customTranslate | translate}}
    </button>
</div>
