<h1 mat-dialog-title>{{'SHARED_LIB.PERUN.COMPONENTS.DIALOGS.CHANGE_EMAIL.TITLE'|translate}}</h1>
<div mat-dialog-content class="dialog-container">
  <mat-form-field>
    <label>
      <input
        matInput
        required
        placeholder="{{'SHARED_LIB.PERUN.COMPONENTS.DIALOGS.CHANGE_EMAIL.INPUT_PLACEHOLDER'|translate}}"
        [formControl]="emailControl"
      >
    </label>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="ml-auto"
    (click)="onCancel()">
    {{'SHARED_LIB.PERUN.COMPONENTS.DIALOGS.CHANGE_EMAIL.CANCEL'|translate}}
  </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      [disabled]="!emailControl.valid"
      (click)="onSubmit()">
      {{'SHARED_LIB.PERUN.COMPONENTS.DIALOGS.CHANGE_EMAIL.CHANGE'|translate}}
    </button>
</div>
