<div class="container-fluid pl-xl-5 pr-xl-5 facility-theme" *ngIf="facility !== undefined">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>
  <h1 class="page-title">
    <div class="d-flex align-items-center">
      <mat-icon [ngStyle]="{'color':'black'}" svgIcon='perun-facility-black' class="perun-icon perun-icon-detail mb-3 mr-2"></mat-icon>
      <div>
        {{'FACILITY_DETAIL.TITLE' | translate}}
        <a class="facility-link" [routerLink]="['/facilities', facility.id]">{{facility.name}}</a>
        <span class="text-muted">
          &nbsp;#{{facility.id}}
        </span>
      </div>
      <button mat-icon-button aria-label="Edit facility" (click)="editFacility()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <span class="text-muted mt-1 entity-info">
          {{'FACILITY_DETAIL.DESCRIPTION' | translate}}:
          <span class="facility-text">
            {{facility.description}}
          </span>
    </span>
  </h1>
  <app-animated-router-outlet></app-animated-router-outlet>
</div>

