<div [class.hide-table]="exporting" [hidden]="resourceTags.length === 0 || dataSource.filteredData.length === 0" class="card mt-2 ">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table #exporter="matTableExporter" [dataSource]="dataSource" class="w-100" mat-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
             matTableExporter>
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'VO_DETAIL.RESOURCES.TAGS.TAG_ID' | translate}}</th>
          <td *matCellDef="let tag" class="static-column-size" mat-cell>{{tag.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>{{'VO_DETAIL.RESOURCES.TAGS.TAG_NAME' | translate}}</th>
          <td *matCellDef="let tag" mat-cell>
            <div *ngIf="!isChanging.isSelected(tag)">
              {{tag.tagName}}
            </div>
            <div *ngIf="isChanging.isSelected(tag)">
              <mat-form-field>
                <input
                  [(ngModel)]="tag.tagName"
                  matInput>
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let tag" mat-cell>
            <div class="d-flex justify-content-end">
              <button
                (click)="edit(tag)"
                *ngIf="!isChanging.isSelected(tag)"
                mat-icon-button
                matTooltip="{{'VO_DETAIL.RESOURCES.TAGS.EDIT_BUTTON' | translate}}">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="save(tag)"
                *ngIf="isChanging.isSelected(tag)"
                mat-icon-button
                matTooltip="{{'VO_DETAIL.RESOURCES.TAGS.SAVE_BUTTON' | translate}}">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let group; columns: displayedColumns;"
            class="dark-hover-list-item"
            mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      (page)="pageChanged($event)"
      [length]="this.resourceTags.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="resourceTags.length === 0" color="warn">
  {{'VO_DETAIL.RESOURCES.TAGS.NO_TAGS' | translate}}
</app-alert>

<app-alert *ngIf="dataSource.filteredData.length === 0 && resourceTags.length !== 0" color="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>
