<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
{{data.description}}
</div>
<div mat-dialog-actions>
  <div class="ml-auto">
    <button
      [hidden]="data.type !== 'error'"
      mat-button
      (click)="onBugReportClick()">
      {{'NOTIFICATOR.NOTIFICATION.DIALOG_BUG_REPORT' | translate}}
    </button>
    <button
      class="ml-2"
      autofocus
      mat-button
      (click)="onCloseClick()">
      {{'NOTIFICATOR.NOTIFICATION.DIALOG_CLOSE' | translate}}
    </button>
  </div>
</div>
