<div>
  <h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading"
    (click)="onAdd()"
    mat-flat-button
    class="mr-2"
    color="accent">
    {{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.ADD' | translate}}
  </button>
  <button
    *ngIf="!loading"
    (click)="onRemove()"
    [disabled]="selection.selected.length === 0"
    mat-flat-button
    class="mr-2"
    color="warn">
    {{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.REMOVE' | translate}}
  </button>
  <app-users-list
    (page)="pageChanged($event)"
    [pageSize]="pageSize"
    *ngIf="associatedUsers !== undefined && associatedUsers.length > 0"
    [users]="associatedUsers"
    [selection]="selection"
    [displayedColumns]="displayedColumns"
  >
  </app-users-list>

  <app-alert *ngIf="!loading && (associatedUsers === undefined || associatedUsers.length === 0)">
    {{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.NO_ASSOCIATED_USERS' | translate}}
  </app-alert>
</div>

<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
