<div [class.hide-table]="exporting" [hidden]="!dataSource.filteredData.length" class="card mt-2">
  <div class="card-body table-theme">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="w-100"
        mat-table
        matSort
        matSortActive="id"
        matSortDirection="asc"
        matSortDisableClear
        matTableExporter>
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'SHARED.COMPONENTS.OWNERS_LIST.ID' | translate}}</th>
          <td *matCellDef="let user" class="static-column-size" mat-cell>
            {{user.id}}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'SHARED.COMPONENTS.OWNERS_LIST.NAME' | translate}}</th>
          <td *matCellDef="let owner" mat-cell>{{owner.name}}</td>
        </ng-container>
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'SHARED.COMPONENTS.OWNERS_LIST.CONTACT' | translate}}</th>
          <td *matCellDef="let owner" mat-cell>{{owner.contact}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'SHARED.COMPONENTS.OWNERS_LIST.TYPE' | translate}}</th>
          <td *matCellDef="let owner" mat-cell>{{owner.type}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let user; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      (page)="pageChanged($event)"
      [length]="owners.length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>

<app-alert *ngIf="!owners.length" color="warn">{{'FACILITY_DETAIL.SETTINGS.OWNERS.NO_OWNERS' | translate}}</app-alert>
<app-alert *ngIf="!dataSource.filteredData.length && owners.length" color="warn">{{'SHARED.COMPONENTS.OWNERS_LIST.NO_OWNERS' | translate}}</app-alert>
<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>
