<div class="container-fluid pl-xl-5 pr-xl-5 resource-theme" *ngIf="resource !== undefined">
  <perun-web-apps-back-button>
  </perun-web-apps-back-button>
  <div class="d-flex page-title-headtitle">
    <mat-icon
      matTooltip="{{'RESOURCE_DETAIL.ENTITY' | translate}}"
      [ngStyle]="{'color':'black'}"
      svgIcon='perun-resource-black'
      class="perun-icon perun-icon-detail">
    </mat-icon>
    <div class="page-title-block">
      <div class="page-title-headline d-flex align-items-center">
        <a class="resource-link" [routerLink]="[baseUrl]">
          {{resource.name}}
        </a>
        <span class="text-muted">
        &nbsp;#{{resource.id}}
        </span>
        <button mat-icon-button aria-label="Edit resource" *ngIf="editResourceAuth" (click)="editResource()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <span class="text-muted mt-1 entity-info">
        {{'RESOURCE_DETAIL.ENTITY' | translate}},
        {{'RESOURCE_DETAIL.VO' | translate}}: <a *ngIf="voLinkAuth" [routerLink]="['/organizations', resource.vo.id]" class="resource-link">{{resource.vo.name}}</a>
        <span *ngIf="!voLinkAuth">
          {{resource.vo.name}}
        </span>
        #{{resource.voId}},
        {{'RESOURCE_DETAIL.FACILITY' | translate}}: <a class="resource-link" *ngIf="facilityLinkAuth" [routerLink]="['/facilities', resource.facilityId]">{{resource.facility.name}}</a>
        <span *ngIf="!facilityLinkAuth">
          {{resource.facility.name}}
        </span>
        #{{resource.facilityId}},
        {{'RESOURCE_DETAIL.DESCRIPTION' | translate}}: {{resource.description}}
      </span>
    </div>
  </div>
<!--  <h1 class="page-title">-->
<!--    <div class="d-flex align-items-center">-->
<!--      <mat-icon [ngStyle]="{'color':'black'}" svgIcon='perun-resource-black' class="perun-icon perun-icon-detail mb-3 mr-2"></mat-icon>-->
<!--      <div>-->
<!--        {{'RESOURCE_DETAIL.TITLE' | translate}}-->
<!--        <a class="resource-link" [routerLink]="['/facilities', resource.facilityId, 'resources', resource.id]">-->
<!--          {{resource.name}}-->
<!--        </a>-->
<!--        <span class="text-muted">-->
<!--        &nbsp;#{{resource.id}}-->
<!--      </span>-->
<!--      </div>-->
<!--      <button mat-icon-button aria-label="Edit resource" *ngIf="editResourceAuth" (click)="editResource()">-->
<!--        <mat-icon>edit</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--    <span class="text-muted mr-5 entity-info">-->
<!--      {{'RESOURCE_DETAIL.FACILITY' | translate}}:-->
<!--      <a class="resource-link" *ngIf="facilityLinkAuth" [routerLink]="['/facilities', resource.facilityId]">-->
<!--        {{resource.facility.name}}-->
<!--      </a>-->
<!--      <span class="resource-text" *ngIf="!facilityLinkAuth">-->
<!--        {{resource.facility.name}}-->
<!--      </span>-->
<!--      <span class="text-muted">-->
<!--        &nbsp;#{{resource.facilityId}}-->
<!--      </span>-->
<!--    </span>-->
<!--    <span class="text-muted mr-5 entity-info break-line">-->
<!--      {{'RESOURCE_DETAIL.VO' | translate}}:-->
<!--      <a *ngIf="voLinkAuth" [routerLink]="['/organizations', resource.vo.id]" class="resource-link">-->
<!--        {{resource.vo.name}}-->
<!--      </a>-->
<!--       <span *ngIf="!voLinkAuth" class="resource-text">-->
<!--        {{resource.vo.name}}-->
<!--      </span>-->
<!--      <span class="text-muted">-->
<!--        &nbsp;#{{resource.voId}}-->
<!--      </span>-->
<!--    </span>-->
<!--    <span class="text-muted mr-5 entity-info break-line">-->
<!--      {{'RESOURCE_DETAIL.DESCRIPTION' | translate}}:-->
<!--      <span class="resource-text">-->
<!--        {{resource.description}}-->
<!--      </span>-->
<!--    </span>-->
<!--  </h1>-->
  <app-animated-router-outlet></app-animated-router-outlet>
</div>
