<div [class.hide-table]="exporting" [hidden]="!dataSource.filteredData.length" class="card mt-2">
  <div class="card-body table-theme">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table
        class="w-100"
        mat-table
        matTableExporter
        matSort matSortActive="expirationAttribute"
        matSortDirection="desc"
        matSortDisableClear
        [dataSource]="dataSource"
        #exporter="matTableExporter">
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let membership" class="static-column-size">
            <mat-checkbox color="primary"
                          [disabled]="(membership.expirationAttribute | validateExpiration) === 'never'"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(membership) : null"
                          [checked]="selection.isSelected(membership)"
                          [aria-label]="checkboxLabel(membership)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>{{'MEMBERSHIP_LIST.NAME' | customTranslate | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let member">{{member.entity.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>{{'MEMBERSHIP_LIST.DESCRIPTION' | customTranslate | translate}}</th>
          <td mat-cell *matCellDef="let membership">{{membership.entity.description}}</td>
        </ng-container>
        <ng-container matColumnDef="expirationAttribute">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEMBERSHIP_LIST.EXPIRATION' | customTranslate | translate}}</th>
          <td mat-cell *matCellDef="let membership">
            {{membership.expirationAttribute | validateExpiration}}
          </td>
        </ng-container>
        <ng-container matColumnDef="extend">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let membership">
            <button (click)="extend(membership)" color="accent" mat-flat-button
                    [disabled]="(membership.expirationAttribute | validateExpiration) === 'never'">{{'MEMBERSHIP_LIST.EXTEND' | customTranslate | translate}}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          class="dark-hover-list-item"
          *matRowDef="let member; columns: displayedColumns;">
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.members.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
<app-alert *ngIf="!dataSource.filteredData.length" color="warn">{{'MEMBERSHIP_LIST.NO_MEMBERSHIPS' | customTranslate | translate}}</app-alert>
<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>
