<h1 class="page-subtitle">
  {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.TITLE' | translate}}
</h1>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto">
</mat-spinner>
<div *ngIf="!loading">
  <div class="d-flex w-50">
    <div class="w-50">
      <div class="font-weight-bold">{{'VO_DETAIL.SETTINGS.APPLICATION_FORM.MODULE_NAME' | translate}}:
        {{applicationForm.moduleClassName}}
      </div>
      <div>
        <span class="font-weight-bold">{{'VO_DETAIL.SETTINGS.APPLICATION_FORM.APPLICATION_TYPE' | translate}}</span>:

        <mat-icon class="align-text-bottom" matTooltip="Initial">arrow_right_alt</mat-icon>
        {{applicationForm.automaticApproval ?
        ('VO_DETAIL.SETTINGS.APPLICATION_FORM.AUTOMATIC'| translate) : ('VO_DETAIL.SETTINGS.APPLICATION_FORM.MANUAL'| translate)}},

        <mat-icon class="align-text-bottom" matTooltip="Extension">cached</mat-icon>
        {{applicationForm.automaticApprovalExtension ?
        ('VO_DETAIL.SETTINGS.APPLICATION_FORM.AUTOMATIC'| translate) : ('VO_DETAIL.SETTINGS.APPLICATION_FORM.MANUAL'| translate)}}
      </div>
    </div>
    <div class="w-25">
      <button
        mat-stroked-button
        (click)="settings()"
        class="ml-auto">
        <i class="material-icons">edit</i>
        {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.SETTINGS_BUTTON' | translate}}
      </button>
    </div>
  </div>

  <mat-divider class="mb-2 mt-2"></mat-divider>

  <div class="w-100 d-flex">
    <perun-web-apps-refresh-button (refresh)="this.updateFormItems()"></perun-web-apps-refresh-button>

    <button
      mat-flat-button
      color="accent"
      class="mr-2"
      (click)="add()">
      {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.ADD_BUTTON' | translate}}
    </button>

    <button
      mat-flat-button
      color="accent"
      class="mr-2"
      [disabled]="!itemsChanged"
      (click)="save()">
      <i class="material-icons">save</i>
      {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.SAVE_BUTTON' | translate}}
    </button>

    <button
      mat-stroked-button
      class="mr-2"
      (click)="copy()">
      <i class="material-icons">file_copy</i>
      {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.COPY_VO_BUTTON' | translate}}
    </button>

    <button
      mat-stroked-button
      (click)="preview()">
      <i class="material-icons">search</i>
      {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.PREVIEW_BUTTON' | translate}}
    </button>
  </div>

  <app-alert [color]="'info'">
    {{'VO_DETAIL.SETTINGS.APPLICATION_FORM.DRAG_AND_DROP_INFO' | translate}}
  </app-alert>

  <app-application-form-list
    [loading]="loading"
    [applicationForm]="applicationForm"
    [applicationFormItems]="applicationFormItems"
    (applicationFormItemsChange)="changeItems()">
  </app-application-form-list>
</div>
