<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button mat-flat-button color="accent" (click)="createResource()">
    {{'FACILITY_DETAIL.RESOURCES.CREATE' | translate}}
  </button>
  <button mat-flat-button color="warn" class="ml-2" [disabled]="selected.selected.length === 0"  (click)="removeResource()">
    {{'FACILITY_DETAIL.RESOURCES.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    [placeholder]="'SHARED.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"
    (filter)="applyFilter($event)"></perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-resources-list
    *ngIf="!loading"
    [filterValue]="filterValue"
    [resources]="resources"
    [selection]="selected">
  </app-resources-list>
</div>
