<div class="h-100 d-flex flex-column">
  <div *ngIf="data.createMailNotification; else edit">
    <h1 mat-dialog-title>{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.TITLE_CREATE' | translate}}</h1>
  </div>
  <ng-template #edit>
    <h1 mat-dialog-title>{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.TITLE_EDIT' | translate}}</h1>
  </ng-template>

  <div mat-dialog-content class="dialog-container">
    <div [@openClose]="invalidNotification ? 'open' : 'closed'">
      <app-alert color="error">{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.INVALID_NOTIFICATION' | translate}}</app-alert>
    </div>
    <mat-tab-group color=primary>
      <mat-tab label="{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.BASIC_SETTINGS' | translate}}">

        <div class="d-flex">
          <span class="w-25 m-auto font-weight-bold">{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.EMAIL_TYPE' | translate}}:</span>
          <div class="w-75">
            <mat-form-field class="w-100">
              <mat-select
                [(ngModel)]="applicationMail.mailType"
                [disabled]="!data.createMailNotification"
                (selectionChange)="notificationExist()"
                disableOptionCentering>
                <mat-option value="APP_CREATED_USER">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_APP_CREATED_USER' | translate}}
                </mat-option>
                <mat-option value="APP_CREATED_VO_ADMIN">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_APP_CREATED_VO_ADMIN' | translate}}
                </mat-option>
                <mat-option value="MAIL_VALIDATION">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_MAIL_VALIDATION' | translate}}
                </mat-option>
                <mat-option value="APP_APPROVED_USER">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_APP_APPROVED_USER' | translate}}
                </mat-option>
                <mat-option value="APP_REJECTED_USER">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_APP_REJECTED_USER' | translate}}
                </mat-option>
                <mat-option value="APP_ERROR_VO_ADMIN">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_APP_ERROR_VO_ADMIN' | translate}}
                </mat-option>
                <mat-option value="USER_INVITE">
                  {{'VO_DETAIL.SETTINGS.NOTIFICATIONS.MAIL_TYPE_USER_INVITE' | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex mb-3">
          <span class="w-25"></span>
          <div *ngIf="!data.createMailNotification" class="w-75 font-italic text-muted">
            {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.EMAIL_TYPE_DESCRIPTION_EDIT' | translate}}
          </div>
          <div *ngIf="data.createMailNotification" class="w-75 font-italic text-muted">
            {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.EMAIL_TYPE_DESCRIPTION_CREATE' | translate}}
          </div>
        </div>
        <div class="d-flex">
          <span class="w-25 font-weight-bold">{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_TYPE' | translate}}:</span>
          <div class="w-75">
            <mat-form-field class="w-100">
              <mat-select
                [(ngModel)]="applicationMail.appType"
                [disabled]="!data.createMailNotification"
                (selectionChange)="notificationExist()"
                disableOptionCentering>
                <mat-option value="INITIAL">
                  {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.INITIAL' | translate}}
                </mat-option>
                <mat-option *ngIf="applicationMail.mailType !== 'USER_INVITE'" value="EXTENSION">
                  {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.EXTENSION' | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex mb-3">
          <span class="w-25"></span>
          <div *ngIf="!data.createMailNotification" class="w-75 font-italic text-muted">
            {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_TYPE_DESCRIPTION_EDIT' | translate}}
          </div>
          <div *ngIf="data.createMailNotification" class="w-75 font-italic text-muted">
            {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.APPLICATION_TYPE_DESCRIPTION_CREATE' | translate}}
          </div>
        </div>
        <div class="d-flex">
          <span class="w-25 font-weight-bold">{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SENDING_ENABLED' | translate}}:</span>
          <div class="w-75">
            <mat-checkbox [(ngModel)]="applicationMail.send"></mat-checkbox>
          </div>
        </div>
        <div class="d-flex mb-3">
          <span class="w-25"></span>
          <div class="w-75 font-italic text-muted">
            {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SENDING_ENABLED_DESCRIPTION' | translate}}
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.LANG_EN' | translate}}">
        <ng-template matTabContent>
          <div class="d-flex w-100">
            <div class="pr-2 w-100">
              <div class="pt-2">
                <span class="font-weight-bold pr-2">{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SUBJECT' | translate}}:</span>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    #enInput
                    (focus)="isTextFocused = false"
                    [(ngModel)]="this.applicationMail.message['en'].subject">
                </mat-form-field>
              </div>
              <div class="font-weight-bold">
                {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.TEXT' | translate}}:
              </div>
              <button mat-stroked-button (click)="this.showTags = !this.showTags;">
                {{showTags ? ('DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.HIDE_TAGS' | translate) :
                                  ('DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SHOW_TAGS' | translate)}}
              </button>
              <mat-form-field class="w-100">
                <textarea matInput
                          #enTextarea
                          rows="17"
                          (focus)="isTextFocused = true"
                          [(ngModel)]="this.applicationMail.message['en'].text">
                </textarea>
              </mat-form-field>
            </div>

            <div [@tagsOpenClose]="showTags ? 'open' : 'closed'">
              <app-tag-bar
                (addedTag)="addTag(enInput, enTextarea, 'en', $event)">
              </app-tag-bar>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.LANG_CS' | translate}}">
        <ng-template matTabContent>
          <div class="d-flex w-100">
            <div class="pr-2 w-100">
              <div class="pt-2">
                <span class="font-weight-bold pr-2">{{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SUBJECT' | translate}}:</span>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    #csInput
                    (focus)="isTextFocused = false"
                    [(ngModel)]="this.applicationMail.message['cs'].subject">
                </mat-form-field>
              </div>
              <div class="font-weight-bold">
                {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.TEXT' | translate}}:
              </div>
              <button mat-stroked-button (click)="this.showTags = !this.showTags;">
                {{showTags ? ('DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.HIDE_TAGS' | translate) :
                ('DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SHOW_TAGS' | translate)}}
              </button>
              <mat-form-field class="w-100">
                <textarea matInput
                          #csTextarea
                          rows="17"
                          (focus)="isTextFocused = true"
                          [(ngModel)]="this.applicationMail.message['cs'].text">
                </textarea>
              </mat-form-field>
            </div>

            <div [@tagsOpenClose]="showTags ? 'open' : 'closed'">
              <app-tag-bar
                (addedTag)="addTag(csInput, csTextarea, 'cs',$event)">
              </app-tag-bar>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div mat-dialog-actions class="d-flex mt-auto">
    <button
      mat-flat-button
      class="ml-auto"
      (click)="cancel()">
      {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.CANCEL_BUTTON' | translate}}
    </button>
    <button
      mat-flat-button
      *ngIf="data.createMailNotification"
      class="ml-2"
      color="accent"
      [disabled]="invalidNotification"
      (click)="create()">
      {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.CREATE_BUTTON' | translate}}
    </button>
    <button
      mat-flat-button
      *ngIf="!data.createMailNotification"
      class="ml-2"
      color="accent"
      (click)="save()">
      {{'DIALOGS.NOTIFICATIONS_ADD_EDIT_MAIL.SAVE_BUTTON' | translate}}
    </button>
  </div>
</div>
